<script src="../../../../Scripts/Common/Framework/jquery-1.7.1.min.js"></script>
@*<script src="../../../../Scripts/Common/Phone/jquery.PrintArea.js"></script>*@
<script src="../../../../Scripts/WMS/ReceiptManagement/PrintShelvesNike.js"></script>
<script src="../../../../Scripts/Common/jatoolsPrinter.js"></script>
@model Runbow.TWS.Web.Areas.WMS.Models.ReceiptManagement.ReceiptDetailViewModel
@Html.HiddenFor(m => m.rid)
@Url.jsrender()
@Url.Json2()
@{
    Layout = null;
}
@*<script type ="text/javascript">
    function Print() {
        wb.ExecWB(6, 1)
    }
    function Printsetup() {
        wb.ExecWB(8, 1)
    }
        function Printpreview() {
            wb.ExecWB(7, 1)
        }
</script>*@

<style media="print">
    .Noprint {
        display: none;
    }
    .PageNext {
        page-break-after: always;
    }
</style>
<script type="text/javascript">
    function printWithAlert() {
        document.all.WebBrowser.ExecWB(6, 1);
        //  window.WebBrowser.ExecWB(45, 1);
    }
    function printWithoutAlert() {
        document.all.WebBrowser.ExecWB(6, 6);
    }
    function printSetup() {
        document.all.WebBrowser.ExecWB(8, 1);
    }
    function printPrieview() {

    }
    function printImmediately() {
        document.all.WebBrowser.ExecWB(6, 6);
        window.close();
    }
    function printReturn() {
        // post('/POD/POD/QueryPod', { QueryPodViewModel: null, Action: '查询' });
        window.location.href = '/WMS/ShelvesManagement/Index';
    }
    function post(URL, PARAMS) {
        var temp = document.createElement("form");
        temp.action = URL;
        temp.method = "post";
        temp.style.display = "none";
        for (var x in PARAMS) {
            var opt = document.createElement("textarea");
            opt.name = x;
            opt.value = PARAMS[x];
            // alert(opt.name)        
            temp.appendChild(opt);
        }
        document.body.appendChild(temp);
        temp.submit();
        return temp;
    }
</script>
<div class="Noprint" style="text-align: center;">
    <object id="WebBrowser" classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2" style="display: none">
    </object>
    @*<object id="wb" width="0" height="0" classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2" style="display: none;"></object>*@
    <input type="button" name="button-print" value="打印" onclick="printWithAlert()" />@*PrintReceipt()*@
    <input type="button" name="button_setup" value="打印页面设置" onclick="printSetup()" />
    @*<input type="button" name="button_show" value="打印预览" onclick="Printpreview()" />*@
    <input type="button" name="button_return" value="返回" onclick="history.go(-1)" />
</div>

<div class="Noprint">
    以下为打印区:<br>
</div>
@{
    var ctype = (IEnumerable<Runbow.TWS.Entity.WMS.WMS_Config_Type>)ViewBag.ctype;
}
@if (Model.ReceiptCollection != null && Model.ReceiptCollection.Any())
{
    foreach (var item in Model.ReceiptCollection)
    {
        var k = 1;
        var ss = 0;
        var number = 0;
        decimal counttotal = 0;
        var counts = Model.ReceiptDetailCollection.Where(c => c.RID == item.ID).Count();
        if (counts <= 7)
        {
    <div class="" style="width: 90%; height: 100%;">
        <div style="width: 100%; height: 100%;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 40%; font-weight: bolder; font-size: 30px; vertical-align: bottom; text-align: center;">
                        <span style="margin-left: 40px;">上架单</span>
                    </td>
                </tr>
            </table>
            <hr size="1" noshadow color="black" style="border: none; border-top: 2px solid #000;" />
            <table style="width: 100%; text-align: left;">
                <tr>
                    <td colspan="2" style="font-weight: bold; font-size: 16px;">订单信息</td>
                </tr>
                <tr style="height: 10px;">
                    <td style="text-align: right; font-family: '3 of 9 Barcode'; font-size: 25px;" colspan="2">*@item.ReceiptNumber*</td>
                    <td style="text-align: right; font-family: '3 of 9 Barcode'; font-size: 25px;" colspan="2">*@item.ExternReceiptNumber*</td>
                    <td style="text-align: right; font-weight: bold; font-size: 16px;" colspan="2"></td>
                </tr>
                <tr style="height: 10px;">
                    <td style="text-align: right; font-weight: bold; width: 13%; font-size: 16px;">系统收货单号：</td>
                    <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">@item.ReceiptNumber</td>
                    <td style="text-align: right; font-weight: bold; width: 13%; font-size: 16px;">外部收货单号：</td>
                    <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">@item.ExternReceiptNumber</td>
                    <td style="text-align: right; font-weight: bold; width: 13%; font-size: 16px;">订单类别：</td>
                    <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">@item.ReceiptType</td>
                </tr>
                <tr style="height: 10px;">
                    <td style="text-align: right; font-weight: bold; font-size: 16px;">预计收货日期：</td>
                    <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">@item.ReceiptDate</td>
                    <td style="text-align: right; font-weight: bold; font-size: 16px;">预计到达日期：</td>
                    <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">&nbsp;</td>
                    <td colspan="2" style="text-align: right; font-weight: bold; font-size: 16px;"></td>
                </tr>
                <tr style="height: 10px;">
                    <td style="text-align: right; font-weight: bold; font-size: 16px;">销售单号：</td>
                    <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">&nbsp;</td>
                    <td style="text-align: right; font-weight: bold; font-size: 16px;">收货单位名称：</td>
                    <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">&nbsp;</td>
                    <td colspan="2" style="text-align: right; font-weight: bold; font-size: 16px;"></td>
                </tr>
                <tr style="height: 10px;">
                    <td style="text-align: right; font-weight: bold; font-size: 16px;">收货单位代码：</td>
                    <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">&nbsp;</td>
                    <td style="text-align: right; font-weight: bold; font-size: 16px;">收货单位地址：</td>
                    <td colspan="3" style="border-bottom: 1px solid #000; width: 22%; text-align: center;">&nbsp;</td>
                </tr>
            </table>
            <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; margin-top: 20px; border-collapse: collapse;">
                <tr>
                    <td style="font-weight: bold; font-size: 16px; width: 16%; text-align: left;" colspan="14">上架单明细&nbsp;&nbsp;@item.ReceiptNumber</td>
                </tr>
                <tr style="height: 23px;">
                    <td style="font-weight: bold; font-size: 16px; text-align: center;">行号</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: center; width: 10%;">SKU</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: center; width: 10%;">Article</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: center; width: 10%;">Size</td>
                    @*@if (item.CustomerID == 69 || item.CustomerID == 81)*@
                    @if (ctype != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()) != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()).Any())
                    {
                        <td style="font-weight: bold; font-size: 16px; text-align: center;">Gender</td>
                        <td style="font-weight: bold; font-size: 16px; text-align: center;">Price</td>
                    }
                    <td style="font-weight: bold; font-size: 16px; text-align: center;">箱序号</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: center;width: 15%;">箱号</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: center; width: 7%;">预计数量</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: center; width: 7%;">推荐库位</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: center; width: 7%;">放置货位</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: center; width: 7%;">实收数量</td>
                    @*@if (item.CustomerID == 69 || item.CustomerID == 81)*@
                        @if (ctype != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()) != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()).Any())
                        {
                        <td style="font-weight: bold; font-size: 16px; text-align: center;">安全扣</td>
                        <td style="font-weight: bold; font-size: 16px; text-align: center;">衣架</td>
                        }
                </tr>
                @if (Model.ReceiptDetailCollection.Where(c => c.RID == item.ID).Any() != null && Model.ReceiptDetailCollection.Where(c => c.RID == item.ID).Any())
                {
                    foreach (var items in Model.ReceiptDetailCollection.Where(c => c.RID == item.ID))
                    {
                        counttotal += (decimal)items.QtyExpected;
                        number++;
                        var s = "";
                        if ((Convert.ToInt32(items.LineNumber) - 1).ToString() != "0")
                        {
                            s = Model.ReceiptDetailCollection.FirstOrDefault(c => Convert.ToInt32(c.LineNumber) == (Convert.ToInt32(items.LineNumber) - 1)).str2;
                        }
                        if (items.RID == item.ID)
                        {
                    <tr style="height: 23px;">
                        <td style="text-align: center;">@items.LineNumber</td>
                        <td style="text-align: center;">@items.SKU</td>
                        <td style="text-align: center;">@items.str10</td>
                        <td style="text-align: center;">@items.str9</td>
                        @*@if (item.CustomerID == 69 || item.CustomerID == 81)*@
                        @if (ctype != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()) != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()).Any())
                        {
                            <td style="text-align: center;">@items.Gender</td>
                            <td style="text-align: center;">@items.Price</td>
                        }
                        @if (@s == items.str2.ToString() || @s == "")
                        {
                            <td style="text-align: center;">@k</td>
                        }
                        else
                        {
                            k++;
                            <td style="text-align: center;">@k</td>
                        }
                        <td style="text-align: center;">@items.str2</td>
                        <td style="text-align: center;">@items.QtyExpected</td>
                        <td style="text-align: center;">@items.str20</td>
                        @*<td style="text-align: center;">
                            <table style="width: 100%" cellpadding="0" cellspacing="0">
                                <tr style="border-bottom: 1px solid black">
                                    <td>&nbsp;</td>
                                </tr>
                                <tr style="border-bottom: 1px solid black">
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                        </td>*@
                        <td style="text-align: center;">&nbsp;</td>
                        <td style="text-align: center;">&nbsp;</td>
                        @*@if (item.CustomerID == 69 || item.CustomerID == 81)*@
                        @if (ctype != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()) != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()).Any())
                        {
                            <td style="text-align: center;">@items.SafeLock</td>
                            <td style="text-align: center;">@items.Hanger</td>
                        }
                    </tr>
                        }
                    }
                    <tr>
                        <td style="text-align: left; font-size: 14px;" colspan="3">上架人：</td>
                        <td style="text-align: left; font-size: 14px;" colspan="4">上架时间:</td>
                        <td style="text-align: right;" colspan="7">1 / 1 页</td>
                    </tr>
                }
            </table>
        </div>
    </div>
        }
        else
        {
            var i = (counts - 7) % 10 == 0 ? (counts - 7) / 10 + 1 : ((counts - 7) / 10) + 2;
            for (var j = 0; j < i; j++)
            {
                int skip = 0; int Take = 7;
                ss = ss + 1;
                if (ss < i)
                {
    <div class="PageNext" style="width: 90%; height: 100%;">
        <div style="width: 100%; height: 100%;">
            @if (ss == 1)
            {
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 40%; font-weight: bolder; font-size: 30px; vertical-align: bottom; text-align: center;"><span style="margin-left: 40px;">上架单</span></td>
                    </tr>
                </table>
                <hr size="1" noshadow color="black" style="border: none; border-top: 2px solid #000;" />
                <table style="width: 100%; text-align: left;">
                    <tr>
                        <td colspan="2" style="font-weight: bold; font-size: 16px;">订单信息</td>
                    </tr>
                    <tr style="height: 10px;">
                        <td style="text-align: right; font-family: '3 of 9 Barcode'; font-size: 25px;" colspan="2">*@item.ReceiptNumber*</td>
                        <td style="text-align: right; font-family: '3 of 9 Barcode'; font-size: 25px;" colspan="2">*@item.ExternReceiptNumber*</td>
                        <td style="text-align: right; font-weight: bold; font-size: 16px;" colspan="2"></td>
                    </tr>
                    <tr style="height: 10px;">
                        <td style="text-align: right; font-weight: bold; width: 13%; font-size: 16px;">系统收货单号：</td>
                        <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">@item.ReceiptNumber</td>
                        <td style="text-align: right; font-weight: bold; width: 13%; font-size: 16px;">外部收货单号：</td>
                        <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">@item.ExternReceiptNumber</td>
                        <td style="text-align: right; font-weight: bold; width: 13%; font-size: 16px;">订单类别：</td>
                        <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">@item.ReceiptType</td>
                    </tr>
                    <tr style="height: 10px;">
                        <td style="text-align: right; font-weight: bold; font-size: 16px;">预计收货日期：</td>
                        <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">@item.ReceiptDate</td>
                        <td style="text-align: right; font-weight: bold; font-size: 16px;">预计到达日期：</td>
                        <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">&nbsp;</td>
                        <td colspan="2" style="text-align: right; font-weight: bold; font-size: 16px;"></td>
                    </tr>
                    <tr style="height: 10px;">
                        <td style="text-align: right; font-weight: bold; font-size: 16px;">销售单号：</td>
                        <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">&nbsp;</td>
                        <td style="text-align: right; font-weight: bold; font-size: 16px;">收货单位名称：</td>
                        <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">&nbsp;</td>
                        <td colspan="2" style="text-align: right; font-weight: bold; font-size: 16px;"></td>
                    </tr>
                    <tr style="height: 10px;">
                        <td style="text-align: right; font-weight: bold; font-size: 16px;">收货单位代码：</td>
                        <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">&nbsp;</td>
                        <td style="text-align: right; font-weight: bold; font-size: 16px;">收货单位地址：</td>
                        <td colspan="3" style="border-bottom: 1px solid #000; width: 22%; text-align: center;">&nbsp;</td>
                    </tr>
                </table>
            }
            <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; margin-top: 20px; border-collapse: collapse;">
                <tr>
                    <td style="font-weight: bold; font-size: 16px; width: 16%; text-align: left;" colspan="14">上架单明细&nbsp;&nbsp;@item.ReceiptNumber
                    </td>
                </tr>
                <tr style="height: 23px;">
                    <td style="font-weight: bold; font-size: 16px; text-align: center;">行号</td>
                    <td style="font-size: 16px; text-align: center;width: 10%;">SKU</td>
                    <td style="font-size: 16px; text-align: center; width: 10%;">Article</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: center; width: 10%;">尺码</td>
                    @*@if (item.CustomerID == 69 || item.CustomerID == 81)*@
                    @if (ctype != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()) != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()).Any())
                    {
                        <td style="font-weight: bold; font-size: 16px; text-align: center;">Grender</td>
                        <td style="font-weight: bold; font-size: 16px; text-align: center;">Price</td>
                    }
                    <td style="font-weight: bold; font-size: 16px; text-align: center;">序号</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: center;width: 15%;">箱号</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: center; width: 7%;">预计数量</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: center; width: 7%;">推荐库位</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: center; width: 7%;">放置货位</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: center; width: 7%;">实收数量</td>
                    @*@if (item.CustomerID == 69 || item.CustomerID == 81)*@
                    @if (ctype != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()) != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()).Any())
                    {
                        <td style="font-weight: bold; font-size: 16px; text-align: center;">安全扣</td>
                        <td style="font-weight: bold; font-size: 16px; text-align: center;">衣架</td>
                    }
                </tr>
                @if (Model.ReceiptDetailCollection.Where(c => c.RID == item.ID).Any() != null && Model.ReceiptDetailCollection.Where(c => c.RID == item.ID).Any())
                {
                    if (ss > 1)
                    {
                        skip = (j - 1) * 10 + 7; Take = 10;
                    }
                    foreach (var items in Model.ReceiptDetailCollection.Where(c => c.RID == item.ID).Skip(skip).Take(Take))
                    {
                        counttotal += (decimal)items.QtyExpected;
                        number++;
                        var s = "";
                        if ((Convert.ToInt32(items.LineNumber) - 1).ToString() != "0")
                        {
                            s = Model.ReceiptDetailCollection.FirstOrDefault(c => Convert.ToInt32(c.LineNumber) == (Convert.ToInt32(items.LineNumber) - 1)).str2;
                        }
                        if (items.RID == item.ID)
                        {
                    <tr style="height: 23px;">
                        <td style="text-align: center;">@items.LineNumber</td>
                        <td style="text-align: center;">@items.SKU</td>
                        <td style="text-align: center;">@items.str10</td>
                        <td style="text-align: center;">@items.str9</td>
                        @*@if (item.CustomerID == 69 || item.CustomerID == 81)*@
                        @if (ctype != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()) != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()).Any())
                        {
                            <td style="text-align: center;">@items.Gender</td>
                            <td style="text-align: center;">@items.Price</td>
                        }
                        @if (@s == items.str2.ToString() || @s == "")
                        {
                            <td style="text-align: center;">@k</td>
                        }
                        else
                        {
                            k++;
                            <td style="text-align: center;">@k</td>
                        }
                        <td style="text-align: center;">@items.str2</td>
                        <td style="text-align: center;">@items.QtyExpected</td>
                        <td style="text-align: center;">@items.str20</td>
                        @*<td style="text-align: center;">
                            <table style="width: 100%" cellpadding="0" cellspacing="0">
                                <tr style="border-bottom: 1px solid black">
                                    <td>&nbsp;</td>
                                </tr>
                                <tr style="border-bottom: 1px solid black">
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                        </td>*@
                        <td style="text-align: center;">&nbsp;</td>
                        <td style="text-align: center;">&nbsp;</td>
                        @*@if (item.CustomerID == 69 || item.CustomerID == 81)*@
                        @if (ctype != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()) != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()).Any())
                        {
                            <td style="text-align: center;">@items.SafeLock</td>
                            <td style="text-align: center;">@items.Hanger</td>
                        }
                    </tr>
                        }
                    }
                    <tr style="height: 23px;">
                        <td style="text-align: left; font-size: 14px;" colspan="3">上架人：</td>
                        <td style="text-align: left; font-size: 14px;" colspan="4">上架时间:</td>
                        <td style="text-align: right; font-size: 14px;" colspan="7">@ss / @i 页</td>
                    </tr>
                }
            </table>
        </div>
    </div>
                }
                else
                {
    <div class="" style="width: 90%; height: 100%;">
        <div style="width: 100%; height: 100%;">
            @if (ss == 1)
            {
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 40%; font-weight: bolder; font-size: 30px; vertical-align: bottom; text-align: center;"><span style="margin-left: 40px;">上架单</span></td>
                    </tr>
                </table>
                <hr size="1" noshadow color="black" style="border: none; border-top: 2px solid #000;" />
                <table style="width: 100%; text-align: left;">
                    <tr>
                        <td colspan="2" style="font-weight: bold; font-size: 16px;">订单信息</td>
                    </tr>
                    <tr style="height: 10px;">
                        <td style="text-align: right; font-family: '3 of 9 Barcode'; font-size: 25px;" colspan="2">*@item.ReceiptNumber*</td>
                        <td style="text-align: right; font-family: '3 of 9 Barcode'; font-size: 25px;" colspan="2">*@item.ExternReceiptNumber*</td>
                        <td style="text-align: right; font-weight: bold; font-size: 16px;" colspan="2"></td>
                    </tr>
                    <tr style="height: 10px;">
                        <td style="text-align: right; font-weight: bold; width: 13%; font-size: 16px;">系统收货单号：</td>
                        <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">@item.ReceiptNumber</td>
                        <td style="text-align: right; font-weight: bold; width: 13%; font-size: 16px;">外部收货单号：</td>
                        <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">@item.ExternReceiptNumber</td>
                        <td style="text-align: right; font-weight: bold; width: 13%; font-size: 16px;">订单类别：</td>
                        <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">@item.ReceiptType</td>
                    </tr>
                    <tr style="height: 10px;">
                        <td style="text-align: right; font-weight: bold; font-size: 16px;">预计收货日期：</td>
                        <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">@item.ReceiptDate</td>
                        <td style="text-align: right; font-weight: bold; font-size: 16px;">预计到达日期：</td>
                        <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">&nbsp;</td>
                        <td colspan="2" style="text-align: right; font-weight: bold; font-size: 16px;"></td>
                    </tr>
                    <tr style="height: 10px;">
                        <td style="text-align: right; font-weight: bold; font-size: 16px;">销售单号：</td>
                        <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">&nbsp;</td>
                        <td style="text-align: right; font-weight: bold; font-size: 16px;">收货单位名称：</td>
                        <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">&nbsp;</td>
                        <td colspan="2" style="text-align: right; font-weight: bold; font-size: 16px;"></td>
                    </tr>
                    <tr style="height: 10px;">
                        <td style="text-align: right; font-weight: bold; font-size: 16px;">收货单位代码：</td>
                        <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">&nbsp;</td>
                        <td style="text-align: right; font-weight: bold; font-size: 16px;">收货单位地址：</td>
                        <td colspan="3" style="border-bottom: 1px solid #000; width: 22%; text-align: center;">&nbsp;</td>
                    </tr>
                </table>
            }
            <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; margin-top: 20px; border-collapse: collapse;">
                <tr>
                    <td style="font-weight: bold; font-size: 16px; width: 16%; text-align: left;" colspan="14">
                    上架单明细&nbsp;&nbsp;@item.ReceiptNumber
                </tr>
                <tr style="height: 23px;">
                    <td style="font-weight: bold; font-size: 16px; text-align: center;">行号</td>
                    <td style="font-size: 16px; text-align: center;width: 10%;">SKU</td>
                    <td style="font-size: 16px; text-align: center; width: 10%;">Article</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: center; width: 10%;">尺码</td>
                    @*@if (item.CustomerID == 69 || item.CustomerID == 81)*@
                    @if (ctype != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()) != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()).Any())
                    {
                        <td style="font-weight: bold; font-size: 16px; text-align: center;">Grender</td>
                        <td style="font-weight: bold; font-size: 16px; text-align: center;">Price</td>
                    }
                    <td style="font-weight: bold; font-size: 16px; text-align: center;">序号</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: center;width: 15%;">箱号</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: center; width: 7%;">预计数量</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: center; width: 7%;">推荐库位</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: center; width: 7%;">放置货位</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: center; width: 7%;">实收数量</td>
                    @*@if (item.CustomerID == 69 || item.CustomerID == 81)*@
                    @if (ctype != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()) != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()).Any())
                    {
                        <td style="font-weight: bold; font-size: 16px; text-align: center;">安全扣</td>
                        <td style="font-weight: bold; font-size: 16px; text-align: center;">衣架</td>
                    }
                </tr>
                @if (Model.ReceiptDetailCollection.Where(c => c.RID == item.ID).Any() != null && Model.ReceiptDetailCollection.Where(c => c.RID == item.ID).Any())
                {
                    if (ss > 1)
                    {
                        skip = (j - 1) * 10 + 7; Take = 10;
                    }
                    foreach (var items in Model.ReceiptDetailCollection.Where(c => c.RID == item.ID).Skip(skip).Take(Take))
                    {
                        counttotal += (decimal)items.QtyExpected;
                        number++;
                        var s = "";
                        if ((Convert.ToInt32(items.LineNumber) - 1).ToString() != "0")
                        {
                            s = Model.ReceiptDetailCollection.FirstOrDefault(c => Convert.ToInt32(c.LineNumber) == (Convert.ToInt32(items.LineNumber) - 1)).str2;
                        }
                        if (items.RID == item.ID)
                        {
                    <tr style="height: 23px;">
                        <td style="text-align: center;">@items.LineNumber</td>
                        <td style="text-align: center;">@items.SKU</td>
                        <td style="text-align: center;">@items.str10</td>
                        <td style="text-align: center;">@items.str9</td>
                        @*@if (item.CustomerID == 69 || item.CustomerID == 81)*@
                        @if (ctype != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()) != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()).Any())
                        {
                            <td style="text-align: center;">@items.Gender</td>
                            <td style="text-align: center;">@items.Price</td>
                        }
                        @if (@s == items.str2.ToString() || @s == "")
                        {
                            <td style="text-align: center;">@k</td>
                        }
                        else
                        {
                            k++;
                            <td style="text-align: center;">@k</td>
                        }
                        <td style="text-align: center;">@items.str2</td>
                        <td style="text-align: center;">@items.QtyExpected</td>
                        <td style="text-align: center;">@items.str20</td>
                        @*<td style="text-align: center;">
                            <table style="width: 100%" cellpadding="0" cellspacing="0">
                                <tr style="border-bottom: 1px solid black">
                                    <td>&nbsp;</td>
                                </tr>
                                <tr style="border-bottom: 1px solid black">
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                        </td>*@
                        <td style="text-align: center;">&nbsp;</td>
                        <td style="text-align: center;">&nbsp;</td>
                        @*@if (item.CustomerID == 69 || item.CustomerID == 81)*@
                        @if (ctype != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()) != null && ctype.Any() && ctype.Where(c => c.Type == "CustomerID" && c.Code == "NIKENFS" && c.Name == item.CustomerID.ToString()).Any())
                        {
                            <td style="text-align: center;">@items.SafeLock</td>
                            <td style="text-align: center;">@items.Hanger</td>
                        }
                    </tr>
                        }
                    }
                    <tr style="height: 23px;">
                        <td style="text-align: left; font-size: 14px;" colspan="3">上架人：</td>
                        <td style="text-align: left; font-size: 14px;" colspan="4">上架时间:</td>
                        <td style="text-align: right; font-size: 14px;" colspan="7">@ss / @i 页</td>
                    </tr>
                }
            </table>
        </div>
    </div>
                }
            }
        }
    }
}


<script id="Evaluation" type="text/x-jsrender">
    <div class="PageNext" style="width: 100%; height: 100%;">
        <table style="width: 100%;">
            <tr>
                <td style="text-align: center; font-weight: bold; font-size: 30px; vertical-align: bottom;">&nbsp;<br />
                    上架单
                </td>
            </tr>
        </table>

        <hr size="2" noshadow color="black" style="border: none; border-top: 2px solid #000;" />

        <table style="width: 100%;">
            <tr>
                <td colspan="6" style="font-weight: bold; font-size: 20px;">订单信息
                </td>
            </tr>
            <tr style="height: 28px;">
                <td style="text-align: right; font-weight: bold; font-size: 16px;">系统收货单号：
                </td>
                <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">{{:ReceiptNumber}}</td>
                <td style="text-align: right; font-weight: bold; font-size: 16px;">外部收货单号：
                </td>
                <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">{{:ExternReceiptNumber}}</td>
                <td style="text-align: right; font-weight: bold; font-size: 16px;">订单类别：
                </td>
                <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">&nbsp;</td>
            </tr>
            <tr style="height: 28px;">
                <td style="text-align: right; font-weight: bold; font-size: 16px;">预计收货日期：
                </td>
                <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">{{:ReceiptDate}}</td>
                <td style="text-align: right; font-weight: bold; font-size: 16px;">预计到达日期：
                </td>
                <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">&nbsp;</td>
                <td colspan="2" style="text-align: right; font-weight: bold; font-size: 16px;"></td>

            </tr>
            <tr style="height: 28px;">
                <td style="text-align: right; font-weight: bold; font-size: 16px;">销售单号：
                </td>
                <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">&nbsp;</td>
                <td style="text-align: right; font-weight: bold; font-size: 16px;">收货单位名称：
                </td>
                <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">&nbsp;</td>
                <td colspan="2" style="text-align: right; font-weight: bold; font-size: 16px;"></td>

            </tr>
            <tr style="height: 28px;">
                <td style="text-align: right; font-weight: bold; font-size: 16px;">收货单位代码：
                </td>
                <td style="border-bottom: 1px solid #000; width: 22%; text-align: center;">&nbsp;</td>
                <td style="text-align: right; font-weight: bold; font-size: 16px;">收货单位地址：
                </td>
                <td colspan="3" style="border-bottom: 1px solid #000; width: 22%; text-align: center;">&nbsp;</td>

            </tr>
        </table>

        <table style="width: 100%;">
            <tr>
                <td style="font-weight: bold; font-size: 20px; width: 16%;">上架单明细
                </td>
                <td style="font-weight: bold; font-size: 20px;">**
                </td>
            </tr>
        </table>

        <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; margin-top: 20px; border-collapse: collapse;">
            <tr>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">行号
                </td>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">SKU
                </td>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">商品名称
                </td>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">规格型号
                </td>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">批号
                </td>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">预计数量
                </td>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">推荐库位
                </td>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">实收数量
                </td>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">放货货位
                </td>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">备注
                </td>
            </tr>

            <tr>
                <td rowspan="3" style="text-align: center;">&nbsp;</td>
                <td rowspan="3" style="text-align: center;">&nbsp;</td>
                <td rowspan="3" style="text-align: center;">&nbsp;</td>
                <td rowspan="3" style="text-align: center;">&nbsp;</td>
                <td rowspan="3" style="text-align: center;">&nbsp;</td>
                <td rowspan="3" style="text-align: center;">&nbsp;</td>
                <td rowspan="3" style="text-align: center;">&nbsp;</td>
                <td style="text-align: center;">&nbsp;</td>
                <td style="text-align: center;">&nbsp;</td>
                <td rowspan="3" style="text-align: center;">&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: center;">&nbsp;</td>
                <td style="text-align: center;">&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: center;">&nbsp;</td>
                <td style="text-align: center;">&nbsp;</td>
            </tr>

        </table>


        <hr size="2" noshadow color="black" style="border: none; border-top: 2px solid #000; margin-top: 200px;" />

        <table style="width: 100%;">
            <tr>
                <td style="text-align: right; font-weight: bold; font-size: 16px; width: 15%">仓库上架人：
                </td>
                <td style="border-bottom: 1px solid #000; width: 15%;">&nbsp;</td>
                <td style="width: 20%;"></td>

                <td style="text-align: right; font-weight: bold; font-size: 16px; width: 15%">系统录入人：
                </td>
                <td style="border-bottom: 1px solid #000; width: 15%;">&nbsp;</td>
                <td style="width: 20%;"></td>
            </tr>
            <tr>
                <td style="text-align: right; font-weight: bold; font-size: 16px; width: 15%">仓库上架日期：
                </td>
                <td style="border-bottom: 1px solid #000; width: 15%;">&nbsp;</td>
                <td style="width: 25%;"></td>

                <td style="text-align: right; font-weight: bold; font-size: 16px; width: 15%">系统录入日期：
                </td>
                <td style="border-bottom: 1px solid #000; width: 15%;">&nbsp;</td>
                <td style="width: 25%;"></td>
            </tr>
        </table>
    </div>
</script>
<object id="ojatoolsPrinter" codebase="JatoolsPrinter/jatoolsPrinter.cab#version=5,4,0,0" classid="clsid:B43D3361-D075-4BE2-87FE-057188254255" width="0" height="0">
    <embed id="ejatoolsPrinter" type="application/x-vnd.jatoolsPrinter" pluginspage="JatoolsPrinter/setup.exe" width="0" height="0" />
</object>
