<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="~/Assets/bootstrap-3.3.4-dist/bootstrap.min.css">
<script src="~/Assets/JS/bootstrap-3.3.4-dist/bootstrap3.0.3.min.js"></script>
<script src="~/Scripts/System/Layer/layer.js"></script>
@Url.FrameworkJs("ajaxfileupload.js")
@Html.Partial("MsgMask")
@Url.PopupJs()
@model Runbow.TWS.Web.Areas.WMS.Models.ReceiptManagement.IndexViewModel
<script type="text/ecmascript">
    $(function () {
        $("#ScanBarCode").live('keydown', function () {
            if (event.keyCode == 13) {
                if (parseInt($("#BarCodeCount").text()) >= parseInt($("#QtyCount").text())) {
                    showMsg("扫码数量不能大于订单数量！", 4000);
                    return;
                }
                //判断barcode是否已存在
                if (IsExistBarCode($(this).val()))
                {
                    $("#resultTbody").prepend("<tr id='tr_" + $(this).val() + "'><td>" + $(this).val() + "</td><td></td><td><input type='button' onclick='DeleteTr(this);' class='btn btn-primary' value='删除' /></td></tr>");
                    $("#ScanBarCode").focus();
                    $("#ScanBarCode").select();
                    $("#BarCodeCount").text(parseInt($("#BarCodeCount").text()) + 1);
                }
            }
        });
    });
    function IsExistBarCode(barcode) {
        var bl = true;
        $("#resultTbody tr").each(function () {
            if ($(this).attr('id').replace('tr_', '') == barcode) {
                showMsg("条码已扫描！", 4000);
                bl = false;
                return false;
            }
            //alert($(this).children()[0].html());
        });
        return bl;
    }
    function DeleteTr(obj) {
        $(obj).parent().parent().remove();
        $("#BarCodeCount").text(parseInt($("#BarCodeCount").text()) -1);
    }
    function SaveScan() {
        var ID = $("#ReceiptID").val();

        var json = new Array();
        $("#resultTbody tr").each(function () {
            var obj = new Object();
            if ($($(this).children()[2]).children().length > 0) {
                obj["BarCode"] = $($(this).children()[0]).html();
                json.push(obj);
            }
        });
        if (json.length > 0) {
            $.post("/WMS/ReceiptManagement/CheckScanBarCode", { json: JSON.stringify(json) }, function (result) {
                var bl = true;
                $.each(result, function (i, obj) {
                    $($("#tr_" + obj["BarCode"]).children()[1]).html(obj["Result"]);
                    if (obj["Result"] == "条码错误！") {
                        bl = false;
                    }
                });
                if (bl) {
                    $.post("/WMS/ReceiptManagement/SaveScanBarCode", { ID: ID, json: JSON.stringify(json) }, function (result2) {
                        //$.each(result, function (i, obj) {
                        //    $($("#tr_" + obj["BarCode"]).children()[1]).html(obj["Result"]);
                        //});
                        if (result2 != "") {
                            showMsg("提交失败，请检查差异！", 4000);
                        } else {
                            window.location.href = "/WMS/ReceiptManagement/ScanBarCode?ID=" + ID;
                        }
                    });
                }
            }, "json");

        } else {
            showMsg("请扫码！", 4000);
        }
    }
    function CheckScan() {
        var ID = $("#ReceiptID").val();
        var json = new Array();
        $("#resultTbody tr").each(function () {
            var obj = new Object();
            if ($($(this).children()[2]).children().length > 0) {
                obj["BarCode"] = $($(this).children()[0]).html();
                json.push(obj);
            }
        });
        if (json.length > 0) {
            $.post("/WMS/ReceiptManagement/CheckScanBarCode", { json: JSON.stringify(json) }, function (result) {
                $.each(result, function (i, obj) {
                    $($("#tr_" + obj["BarCode"]).children()[1]).html(obj["Result"]);
                });
            }, "json");
        } else {
            showMsg("请扫码！", 4000);
        }
    }
    function Supplement() {
        if (parseInt($("#BarCodeCount").text()) == parseInt($("#QtyCount").text())) {
            showMsg("条码数量等于订单数量，不需要补码！", 4000);
            return;
        }
        var ID = $("#ReceiptID").val();
        $.post("/WMS/ReceiptManagement/SupplyBarCode", { ID: ID }, function (result) {
            if (result != "") {
                showMsg("操作失败！", 4000);
            } else {
                window.location.href = "/WMS/ReceiptManagement/ScanBarCode?ID=" + ID;
            }
        });
    }
</script>
<input type="hidden" id="ReceiptID" value="@Model.receipt.ID" />
<fieldset>
    <legend>扫描条码</legend>
</fieldset>
<table>
    <tr>
        <td class="TableColumnTitle" style="width: 15%;">
            <label>条码</label>
        </td>
        <td style="width: 15%;">
            <input type="text" id="ScanBarCode" class="form-control" />
        </td>
        <td>
            订单数量：<span id="QtyCount" style="color:red;">@ViewBag.QtyCount</span>&nbsp;&nbsp;&nbsp;&nbsp;
            扫描数量：<span id="BarCodeCount" style="color:red;">@ViewBag.BarCodeCount</span>
        </td>
    </tr>
</table>
<br />
<br />
<fieldset>
    <legend>扫描记录</legend>
</fieldset>
<div id="tables" min-height: 180px">
    <table id="resultTable" style="table-layout: fixed;">
        <thead>
            <tr>
                @*<td>SKU
                    </td>*@
                <td class="TableColumnTitle">
                    条码
                </td>
                <td class="TableColumnTitle">验证结果</td>
                <td class="TableColumnTitle">
                    操作
                </td>
            </tr>
        </thead>
        <tbody id="resultTbody">
            @if (Model.BarCodeCollection != null && Model.BarCodeCollection.Any())
            {
                foreach (var item in Model.BarCodeCollection)
                {
                    var tr_id = "tr_" + item.BarCode;
                    <tr id="@tr_id">
                        <td>
                            @item.BarCode
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="actionButtonDiv">
    <input type="button" class="btn btn-success" value="检查" onclick="CheckScan()" />
    <input type="button" class="btn btn-success" value="提交" onclick="SaveScan();" />
    <input type="button" class="btn btn-success" value="补码" onclick="Supplement();" />
</div>
