@model Runbow.TWS.Web.Areas.WMS.Models.OrderManagement.PrintExpressYtoModel
@{
    ViewBag.Title = "PrintExpressDeppon";
}
<link href="~/Scripts/Common/JartoolsPrint.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Assets/bootstrap-3.3.4-dist/bootstrap.min.css">
<script src="~/Scripts/Common/jatoolsPrinter.js"></script>
<script src="../../../../Scripts/Common/jquery-barcode.js"></script>
<script>
    $(function () {

        $.each($('.barTaget'), function (i, item) {
            //alert($(item).parent().width());
            $(item).css('width', $(item).parent().width() + 'px');
            BarcodeC(item, $(item).html());
        })


        function BarcodeC(obj, data) {
            $(obj).empty().barcode(data, "code128", { barWidth: 2, barHeight: 60, fontSize: 18, showHRI: false });
        }

        $(function () {
            $.each($(".bcTarget"), function (a, b) {
                BarcodeC(b, $(b).html());
            });
            $.each($(".bcTarget2"), function (a, b) {
                BarcodeC2(b, $(b).html());
            });
            $.each($(".bcTarget3"), function (a, b) {
                BarcodeC3(b, $(b).html());
            });
            $.each($(".bcTarget4"), function (a, b) {
                BarcodeC4(b, $(b).html());
            });
            $.each($(".bcTarget5"), function (a, b) {
                BarcodeC5(b, $(b).html());
            });
        })
        function BarcodeC(obj, data) {
            $(obj).empty().barcode(data, "code128", { barWidth: 1, barHeight: 55, showHRI: false });
        }
        function BarcodeC2(obj, data) {
            $(obj).empty().barcode(data, "code128", { barWidth: 1, barHeight: 40, showHRI: false });
        }
        function BarcodeC3(obj, data) {
            $(obj).empty().barcode(data, "code128", { barWidth: 1, barHeight: 30, showHRI: false });
        }
        function BarcodeC4(obj, data) {
            $(obj).empty().barcode(data, "code128", { barWidth: 1, barHeight: 20, showHRI: false });
        }
        function BarcodeC5(obj, data) {
            $(obj).empty().barcode(data, "code128", { barWidth: 1, barHeight: 15, showHRI: false });
        }
    })

    function doPrint(how) {
        //打印文档对象
        var myDoc = {
            documents: document,    // 打印页面(div)们在本文档中
            // 打印时,only_for_print取值为显示
            classesReplacedWhenPrint: new Array('.only_for_print{display:block}'),
            copyrights: '杰创软件拥有版权  www.jatools.com'         // 版权声明必须
        };
        var jatoolsPrinter = getJatoolsPrinter();
        // 调用打印方法
        if (how == '打印预览...') {
            jatoolsPrinter.printPreview(myDoc);   // 打印预览
        }

        //else if (how == '打印...')
        //    jatoolsPrinter.print(myDoc, true);   // 打印前弹出打印设置对话框

        //else
        //    jatoolsPrinter.print(myDoc, false);       // 不弹出对话框打印
    }
</script>
<!--1厘米 37.7px-->
<style type="text/css">
    label {
        margin-bottom: 0;
    }

    .arrow-bottom {
        width: 0;
        height: 0;
        border-left: 4px solid transparent; /* 左边框的宽 */
        border-right: 4px solid transparent; /* 右边框的宽 */
        border-top: 7px solid #217AFF; /* 下边框的长度|高,以及背景色 */
        font-size: 0;
        line-height: 0;
    }

    ._bb {
        background-color: #000000 !important;
        color: #fff !important;
    }

    ._div {
        width: 100%;
        border-bottom: 1px dashed #333;
    }

    ._transportType {
        float: left;
        width: 24%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
    }
    /*大头笔*/
    ._arrivedOrgSimpleName {
        height: 8%;
        text-align: center;
        line-height: 53px;
        vertical-align: middle;
        font-size: 32px;
    }

    #span {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }

    .jianju {
        padding-top: -1px;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        margin-top: -1px;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        border-width: 0px;
        float: left;
    }

    .jianju1 {
        padding-top: -1px;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        margin-top: -1px;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        border-width: 0px;
        /*float: left;*/
    }

    .dibuduiqi {
        display: table-cell;
        /*按照单元格的样式显示元素*/
        vertical-align: bottom;
    }
</style>
<div class="actionButtonDiv" style="padding-top: 10px;">
    <input type="button" value="预览" class="btn btn-success" onclick="doPrint('打印预览...')">
    <input type="button" value="打印" class="btn btn-success" onclick="doPrint('打印')">
    <input type="button" value="返回" class="btn btn-success" onclick="javascript:window.location.href = document.referrer">
</div>
<div style="margin:50px 0 0 50px;">
    @if (Model.expressDeliverys != null && Model.expressDeliverys.Any())
    {
        int p = 0;

        foreach (var item in Model.expressDeliverys)
        {
            p++;
            var pages = "page" + p;
            <div id="@pages" class='only_for_print pagestyle' style="clear: both;margin-bottom:15px;">
                <div style="border:1px solid #333;width:290px;height:670px;">
                    <div class="_div" style="height:11%;">
                        <div style="float:left;width:50%;height:100%;position:relative">
                            <div> </div>
                            <div style="position: absolute;width:180px; bottom: 1px;">@DateTime.Now.ToString("yyyy-MM-dd hh:mm:ss") </div>
                        </div>
                        <div style="float:left;width:30%;height:100%;">
                        </div>
                        @*<div style="float:left;width:18%;height:100%;" class="jianju">
                                <span class="jianju">
                                    <span style="font-size:1px;">代收货款：</span>
                                    <br class="jianju">
                                    <span class="jianju" style="font-size: 3px; font-family: 'arial black';">￥360.0</span>
                                </span>
                                <br>
                                <span class="jianju">
                                    <span style="font-size: 3px;">寄付邮费：</span>
                                    <br class="jianju">
                                    <span class="jianju" style="font-size: 3px; font-family:'arial black';">￥22.0</span>
                                </span>
                            </div>
                            <div style="float:right;width:15%;height:100%;font-size: 25px;">
                                <span>货到<br>付款</span>
                            </div>*@
                    </div>
                    <div class="_div _arrivedOrgSimpleName" style=" text-align: center;margin:auto">
                        <div class="bcTarget2" style=" text-align: center;margin:auto">@item.mailNo</div>
                        <h6 style=" text-align: center;margin:auto">@item.mailNo</h6>
                        @*<div style="font-size:10px; height:15px">ss</div>*@
                    </div>
                    <div class="_div" style="height:6%;position:relative; text-align: center;margin:auto;font-size:28px;font-weight:bold">
                        @*<div style="float:left;position:absolute;top:6px;left:6px;">
                                <label>dasdasdasdasdasd</label>
                            </div>*@
                         @item.shortAddress
                        @*<div style="float:right;position:absolute;right:6px;top:6px;">
                                <label>dasdasdasdasdasd</label>
                            </div>*@
                    </div>
                    <div class="_div" style="height:15%;position:relative;">
                        <div style="float:left;position:absolute;top:6px;left:0px;">
                            <!--<label>黑龙江齐齐哈尔</label>-->
                            <div style="width:28px;height:28px;text-align:center">
                                <img style="height:20px;width:20px" src="~/Image/BaiduMap/1601364349.png" />
                            </div>
                            <div style="width:28px;height:28px;text-align:center;margin-top:3px">
                                @*收*@
                                <img style="height:20px;width:20px" src="~/Image/BaiduMap/1601364356.png" />
                            </div>
                        </div>
                        <div style="float:left;position:absolute;top:6px;left:30px;">
                            <!--<label>黑龙江齐齐哈尔@item.packageCenterName</label>-->
                            <div style="width: 185px;height:28px;font-weight:bold;font-size:15px;border-bottom:1px dashed #333">   &nbsp;</div>
                            <div style="width: 185px;">
                                <label style="font-weight:bold;font-size:13px;">@item.receivername &nbsp;@item.receivermobile </label><br>
                                <label style="font-weight:400;font-size:13px;">@item.receiveraddress </label>
                            </div>
                        </div>
                        <div style="float:right;position:absolute;right:0px;top:0px; bottom:0px;border-left:1px dashed #333">
                            <div style="width: 70px;height:50px;font-weight:bold;font-size:17px;">@item.printKeyWord  &nbsp;</div>
                            <div style="width: 70px;font-weight:bold;font-size:17px;border-top:1px dashed #333">
                                <label>手机尾号</label> <br>
                                <label>@item.receivermobile.Substring(7, 4) </label>
                            </div>
                        </div>
                    </div>
                    <div class="_div" style="height:7%;position:relative;">
                        <div style="float:left;position:absolute;top:6px;left:0px;">
                            <div style="width:28px;height:28px;text-align:center">
                                <img style="height:20px;width:20px" src="~/Image/BaiduMap/1601364332.png" />
                            </div>
                        </div>
                        <div style="float:left;position:absolute;top:6px;left:30px;">
                            <div style="width: 250px;height: 50px;">
                                <label style="font-weight:bold;font-size:12px;">@item.sendname &nbsp;@item.sendmobile</label><br>
                                <label style="font-weight:400;font-size:8px;">@item.receiveraddress </label>
                            </div>
                        </div>
                        <div style="float:right;position:absolute;height:100%;width:70px;right:0px;top:0px;bottom:0px;text-align:center;border-left:1px dashed #333">
                            <div>
                              <img style="height:40px;width:40px" src="~/Image/BaiduMap/1601282529.png"/>
                            </div>
                        </div>
                    </div>
                    <div class="_div" style="height:7%;">
                        <div style="width:30%;height:100%;font-size:20px;font-weight:bold; float:left;text-align:center;line-height:30px;">
                            @item.shortAddressXia
                        </div>
                        <div style="width:70%;height:100%;float:right;line-height:30px;font-weight:bolder;border-left:1px dashed #333">
                            <div class="bcTarget3" style=" text-align: center;margin:auto">@item.mailNo</div>
                            <h6 style=" text-align: center;margin:auto">@item.mailNo</h6>
                        </div>
                    </div>
                    <div class="_div" style="height:48%;">
                        <div style="width:100%;padding:15px 8% 0 8%;text-align:center;">

                        </div>
                        <div style="width:100%;text-align:center;font-size:18px;">

                        </div>
                        <div style="width:100%;text-align:center;font-size:18px;margin-top:-6px;">

                        </div>
                        <div style="position:relative;">
                            <div style="right: 20px; position: absolute;top:20px;;bottom:0;font-weight:bolder;">
                                <strong>已验视</strong>
                            </div>
                        </div>
                    </div>
                    @*<div class="_div" style="height:4%;position:relative;border:0 !important;">
                        <div style="float:left;position:absolute;left:5px;line-height:25px;">

                        </div>
                        <div style="float:right;position:absolute;right:5px;line-height:25px;">

                        </div>
                    </div>*@
                    @*<div style="width:100%;height:40%;position:relative;">
                        <div style="position:absolute;bottom:0;left:24px;">

                        </div>
                    </div>*@
                </div>
            </div>
        }
    }
</div>



<object id="ojatoolsPrinter" codebase="JatoolsPrinter/jatoolsPrinter.cab#version=5,4,0,0" classid="clsid:B43D3361-D075-4BE2-87FE-057188254255" width="0" height="0">
    <embed id="ejatoolsPrinter" type="application/x-vnd.jatoolsPrinter" pluginspage="JatoolsPrinter/setup.exe" width="0" height="0" />
</object>

