@Html.Partial("MsgMask")
@Url.PopupJs()
@using Runbow.TWS.Common;
@model Runbow.TWS.Web.Areas.WMS.Models.OrderECManagement.PrintHeaderModel
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="~/Assets/bootstrap-3.3.4-dist/bootstrap.min.css">
<script src="~/Assets/JS/bootstrap-3.3.4-dist/bootstrap3.0.3.min.js"></script>
<script src="~/Scripts/System/Layer/layer.js"></script>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.SearchCondition.StartUpdateTime)
    @Html.HiddenFor(m => m.SearchCondition.EndUpdateTime)

    @Html.Hidden("ProjectName", (string)ViewBag.ProjectName)
    <fieldset>
        <legend>打印关联查询条件</legend>
        <table id="conditionTable">
            @{
                var CustomerList = (IEnumerable<SelectListItem>)ViewBag.CustomerList;
                var WarehouseList = (IEnumerable<SelectListItem>)ViewBag.WarehouseList;
            }
            <tr>
                <td class="TableColumnTitle">
                    <label>打印单号</label>
                </td>
                <td style="width: 16%;">@Html.TextAreaFor(m => m.SearchCondition.PrintKey, new { @class = "form-control", style = "width:100%" })</td>
                <td class="TableColumnTitle">
                    客户
                <td style="width: 16%;">
                    @Html.DropDownListFor(m => m.SearchCondition.CustomerID, CustomerList, "==请选择==", new { @class = "form-control", style = "width:100%" })
                </td>
                <td class="TableColumnTitle">仓库</td>
                <td style="width: 16%;">@Html.DropDownListFor(m => m.SearchCondition.WarehouseID, WarehouseList, "==请选择==", new { @class = "form-control", style = "width:100%" })</td>
            </tr>
        </table>
        <div class="actionButtonDiv">
            <input type="submit" class="btn btn-success" value="查询" id="searchButton" name="Action" />
            <input type="button" class="btn btn-success" value="新增" id="addButton" />
            <input type="button" class="btn btn-success" value="打印拣货单" id="printButton" />
            <input type="button" class="btn btn-success" value="打印快递单" id="printExpresss" />
            <input type="button" class="btn btn-success" value="打印快进快出拣货单" id="printWaveButton" />
        </div>
    </fieldset>

    <fieldset>
        <legend>
            打印关联列表
            @if (Model.PrintHeaderCollection != null && Model.PrintHeaderCollection.Any())
            {
                @Html.Raw("(" + Model.PrintHeaderCollection.Count() + ")");
            }
        </legend>
        <div id="tables" style="overflow-X: scroll; min-height: 180px">
            <table id="resultTable" style="width: 110%;">
                <thead>
                    <tr>

                        <th class="checkBoxHead">
                            @Html.CheckBox("selectAll", new { @class = "btn btn-success" })

                        </th>
                        <th style="width: 150px">打印单号</th>
                        <th style="width: 150px">客户</th>
                        <th style="width: 150px">仓库</th>
                        <th style="width: 150px">打印拣货单次数</th>
                        <th style="width: 150px">打印快递单次数</th>
                        <th style="width: 150px">创建人</th>
                        <th style="width: 150px">创建时间</th>
                        <th style="width: 150px">最后更新人</th>
                        <th style="width: 150px">更新时间</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.PrintHeaderCollection != null && Model.PrintHeaderCollection.Any())
                    {
                        foreach (var info in Model.PrintHeaderCollection)
                        {
                            <tr id="@info.ID">
                                <td>
                                    @Html.CheckBox(info.ID.ToString(), new { data_ID = info.ID, data_name = info.PrintKey, @class = "btn btn-success" })
                                </td>
                                <td>
                                    <a href="/WMS/OrderECManagement/PrintDetail/?ID=@info.ID">@info.PrintKey</a>
                                    <input type="hidden" value="@info.PrintStatus" />
                                </td>
                                <td>
                                    @info.CustomerName
                                </td>
                                <td>
                                    @info.WarehouseName
                                </td>
                                <td>
                                    @info.PrintCount
                                </td>
                                <td>
                                    @info.RelateCount
                                </td>
                                <td>
                                    @info.Creator
                                </td>
                                <td>
                                    @info.CreateTime
                                </td>
                                <td>
                                    @info.Updator
                                </td>
                                <td>
                                    @info.UpdateTime
                                </td>
                            </tr>

                        }
                    }

                </tbody>
            </table>
        </div>
        @Html.Pager(Model.PageIndex, Model.PageCount, "")
    </fieldset>
}