<script src="../../../../Scripts/Common/jatoolsPrinter.js"></script>
<script src="../../../../Scripts/Common/Framework/jquery-1.7.1.min.js"></script>
<script src="../../../../Scripts/WMS/OrderManagement/PrintOrder.js"></script>
@model Runbow.TWS.Web.Areas.WMS.Models.OrderManagement.OrderViewModel
   @Html.Hidden("IDs", (string)ViewBag.ID)
@Url.jsrender()
@Url.Json2()
@{
    Layout = null;
}
<script type="text/javascript">
    function printWithAlert() {
        //更新打印状态和打印次数 
        //$.ajax(){
        //    //获取oderid 
        //    //调更新的 方法
        //    //1.如果打印状态isnull('')='' count =1
        //    //2.如果打印状态isnull('')=1'count+1
        //};
        UpdatePrintStatus();
        document.all.WebBrowser.ExecWB(6, 1);

    }
    function printWithoutAlert() {
        document.all.WebBrowser.ExecWB(6, 6);
    }
    function printSetup() {
        document.all.WebBrowser.ExecWB(8, 1);
    }
    function printPrieview() {

    }
    function printImmediately() {
        document.all.WebBrowser.ExecWB(6, 6);
        window.close();
    }
    function UpdatePrintStatus() {
        var ids = "";
        ids = $("#IDs").val();
        $.ajax({
            type: "POST",
            url: "/WMS/OrderECManagement/UpdatePrintHeaderStatus",
            data: {
                "IDs": ids,
            },
            async: "false",
            success: function (data) {

            },
            error: function (msg) {
                alert(msg.val);
            }
        });
    }


</script>

<style media="print">
    .Noprint
    {
        display: none;
    }

    .PageNext
    {
        page-break-after: always;
    }
</style>
<div class="Noprint" style="text-align: center; height: 10px;">
    <object id="WebBrowser" classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2" style="display: none"></object>
    @*<object id="wb" width="0" height="0" classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2" style="display: none;"></object>*@
    <input type="button" name="button-print" value="打印" onclick="printWithAlert()" />
    <input type="button" name="button_setup" value="打印页面设置" onclick="printSetup()" />
    @*<input type="button" name="button_show" value ="打印预览" onclick ="Printpreview()" />*@
    <input type="button" name="button_return" value="返回" onclick="history.go(-1)" />
</div>


<div class="Noprint">
    以下为打印区:<br>
</div>

@if (Model.OrderCollection != null && Model.OrderCollection.Any())
{
    var ss = 0;
    foreach (var item in Model.OrderCollection)
    {
        var counts = Model.OrderDetailCollection.Where(m => m.OID == item.ID).Count();
        var i = counts / 30;
        var yu = counts % 30;
        var pa = 0;
        if (yu == 0)
        {
            pa = i;
        }
        else
        {
            pa = i + 1;
        }

        var RID = 0;//拣货单以订单为单位的排序序号

        for (var j = 0; j < pa; j++)
        {
            ss = ss + 1;
            var pages = "page" + ss;


            if (ss < pa)
            {
    <div class="PageNext" style="width: 100%; height: 100%;">
        @if (j == 0)
        {
            <table style="width: 100%;">
                <tr>
                    <td colspan="2">
                        <span style="font-size: 18px;">&nbsp;&nbsp;&nbsp;亲爱的顾客，感谢您支持rookie网店商品！</span>
                    </td>
                    <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../../../Image/rookie_log.png" style="width: 240px; height: 90px;" />
                    </td>
                </tr>
                <tr style="height: 20px">
                    <td></td>
                    <td style="font-size: 20px; font-family: '3 of 9 Barcode'; height: 25px; text-align: center;">*@item.ExternOrderNumber*</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="height: 20px">
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">系统订单号：
                    </td>
                    <td style="border-bottom: 1px solid #000; text-align: center;">@item.OrderNumber</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">订单时间：
                    </td>
                    <td style="border-bottom: 1px solid #000; text-align: center;">@item.OrderTime</td>
                </tr>
                <tr style="height: 20px">
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">客户订单号：
                    </td>
                    <td style="border-bottom: 1px solid #000; text-align: center;">@item.ExternOrderNumber</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">快递公司：
                    </td>
                    <td style="border-bottom: 1px solid #000; text-align: center;">@item.ExpressCompany</td>
                </tr>
                <tr style="height: 20px">
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">收货人：
                    </td>
                    <td style="border-bottom: 1px solid #000; text-align: center;">@item.Consignee</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">联系手机：
                    </td>
                    <td style="border-bottom: 1px solid #000; text-align: center;">@item.Contact</td>
                </tr>
                <tr style="height: 20px">
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">联系电话：
                    </td>
                    <td style="border-bottom: 1px solid #000; text-align: center;"></td>
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">配送单号：
                    </td>
                    <td style="border-bottom: 1px solid #000; text-align: center;">@item.ExternOrderNumber</td>
                </tr>
                <tr style="height: 20px">
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">收货地址：
                    </td>
                    <td style="border-bottom: 1px solid #000; text-align: center;" colspan="3">@item.Province&nbsp;@item.City&nbsp;@item.District&nbsp;@item.Address</td>

                </tr>
                <tr style="height: 20px">
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">特殊备注：
                    </td>
                    <td style="border-bottom: 1px solid #000; text-align: center; font-size: 18px;" colspan="3">@item.Remark</td>

                </tr>
            </table>

            <br />
            <table style="border-bottom: 1px solid #000; width: 100%;">
                <tr>
                    <td style="font-weight: bold; text-align: center; width: 100px;">商品清单</td>
                    <td style="font-weight: bold; text-align: center; width: 100px;">系统订单号：</td>
                    <td>@item.OrderNumber</td>
                </tr>
            </table>
        }
        else
        {
            <table style="width: 100%;">
                <tr>
                    <td colspan="2">
                        <span style="font-size: 18px;">&nbsp;&nbsp;&nbsp;亲爱的顾客，感谢您支持rookie网店商品！</span>
                    </td>
                    <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../../../Image/rookie_log.png" style="width: 240px; height: 90px;" />
                    </td>
                </tr>
            </table>
            <table style="border-bottom: 1px solid #000; width: 100%;">
                <tr>
                    <td style="font-weight: bold; text-align: center; width: 100px;">商品清单</td>
                    <td style="font-weight: bold; text-align: center; width: 100px;">系统订单号：</td>
                    <td>@item.OrderNumber</td>
                </tr>
            </table>
        }

        <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; margin-top: 20px; border-collapse: collapse;">


            <tr>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">序号
                </td>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">SKU条形码
                </td>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">SKU
                </td>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">颜色说明
                </td>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">库位
                </td>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">件数
                </td>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">实际件数
                </td>

            </tr>

            @if (Model.OrderDetailCollection.Where(c => c.OID == item.ID).Any() != null && Model.OrderDetailCollection.Where(c => c.OID == item.ID).Any())
            {
                foreach (var items in Model.OrderDetailCollection.Where(c => c.OID == item.ID).Skip(j * 30).Take(30))
                {

                    if (items.OID == item.ID)
                    {
                        RID++;
                <tr>
                    <td style="text-align: center; font-size: 15px">@RID</td>
                    <td style="text-align: center; font-family: '3 of 9 Barcode'">*@items.SKU*</td>
                    <td style="text-align: center; font-size: 15px">@items.SKU</td>
                    <td style="text-align: center; font-size: 15px">@items.Size</td>
                    <td style="text-align: center; font-size: 15px">@items.Location</td>
                    <td style="text-align: center; font-size: 15px">@items.Qty</td>
                    <td style="text-align: center; font-size: 15px"></td>

                </tr>
                    }
                }
            }

        </table>
        @*@if (j == pa - 1)
        {
            <h5 style="text-align: center; font-weight: bold">订单总数：&nbsp;&nbsp;&nbsp;&nbsp;@Model.OrderDetailCollection.Where(o => o.OID == item.ID).Sum(o => o.Qty).ToString()</h5>
        }
        <hr size="2" noshadow color="black" style="border: none; border-bottom: 2px solid #000;" />
        <p style="text-align: center; height: 10px">第&nbsp;&nbsp;@(j + 1)&nbsp;&nbsp;页,共&nbsp;&nbsp;@(pa)&nbsp;&nbsp;页</p>*@
        <table style="width: 100%;">
                <tr style="height: 20px">
                    <td colspan="6" style="text-align: center; font-size: 18px; font-weight: bold;">欲知更多优惠/新品信息，请关注微信Rookie-china</td>
                    <td rowspan="3" style="width: 120px;">
                        <img style="width: 120px; height: 120px;" src="../../../../Image/rookie-china.png" /></td>
                </tr>
                <tr style="height: 20px">
                    <td style="font-weight: bold; font-size: 16px; text-align: right; width: 50px;">拣货人：</td>
                    <td style="border-bottom: 1px solid #000; width: 150px;"></td>
                    <td></td>
                    <td style="font-weight: bold; font-size: 16px; text-align: right; width: 50px;">系统录入人：</td>
                    <td style="border-bottom: 1px solid #000; width: 150px;"></td>
                    <td></td>
                </tr>
                <tr style="height: 20px">
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">拣货日期：</td>
                    <td style="border-bottom: 1px solid #000;"></td>
                    <td></td>
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">系统录入日期：</td>
                    <td style="border-bottom: 1px solid #000;"></td>
                    <td></td>
                </tr>
                <tr style="height: 20px">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>第&nbsp;&nbsp;@(j + 1)&nbsp;&nbsp;页,共&nbsp;&nbsp;@(pa)&nbsp;&nbsp;页</td>
                </tr>
            </table>
    </div>
            }
            else
            {
    <div class="PageNext" style="width: 100%; height: 100%;">
        @if (j == 0)
        {
            <table style="width: 100%">
                <tr>
                    <td colspan="2">
                        <span style="font-size: 18px;">&nbsp;&nbsp;&nbsp;亲爱的顾客，感谢您支持rookie网店商品！</span>
                    </td>
                    <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../../../Image/rookie_log.png" style="width: 240px; height: 90px;" />
                    </td>
                </tr>
                <tr style="height: 20px">
                    <td></td>
                    <td style="font-size: 20px; font-family: '3 of 9 Barcode'; height: 25px; text-align: center;">*@item.ExternOrderNumber*</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="height: 20px">
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">系统订单号：
                    </td>
                    <td style="border-bottom: 1px solid #000; text-align: center;">@item.OrderNumber</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">订单时间：
                    </td>
                    <td style="border-bottom: 1px solid #000; text-align: center;">@item.OrderTime</td>
                </tr>
                <tr style="height: 20px">
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">客户订单号：
                    </td>
                    <td style="border-bottom: 1px solid #000; text-align: center;">@item.ExternOrderNumber</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">快递公司：
                    </td>
                    <td style="border-bottom: 1px solid #000; text-align: center;">@item.ExpressCompany</td>
                </tr>
                <tr style="height: 20px">
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">收货人：
                    </td>
                    <td style="border-bottom: 1px solid #000; text-align: center;">@item.Consignee</td>
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">联系手机：
                    </td>
                    <td style="border-bottom: 1px solid #000; text-align: center;">@item.Contact</td>
                </tr>
                <tr style="height: 20px">
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">联系电话：
                    </td>
                    <td style="border-bottom: 1px solid #000; text-align: center;"></td>
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">配送单号：
                    </td>
                    <td style="border-bottom: 1px solid #000; text-align: center;">@item.ExternOrderNumber</td>
                </tr>
                <tr style="height: 20px">
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">收货地址：
                    </td>
                    <td style="border-bottom: 1px solid #000; text-align: center;" colspan="3">@item.Province&nbsp;@item.City&nbsp;@item.District&nbsp;@item.Address</td>

                </tr>
                <tr style="height: 20px">
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">特殊备注：
                    </td>
                    <td style="border-bottom: 1px solid #000; text-align: center; font-size: 18px;" colspan="3">@item.Remark</td>

                </tr>
            </table>

            <br />
            <br />
        }
        else
        {
            <table style="width: 100%">
                <tr>
                    <td colspan="2">
                        <span style="font-size: 18px;">&nbsp;&nbsp;&nbsp;亲爱的顾客，感谢您支持rookie网店商品！</span>
                    </td>
                    <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../../../Image/rookie_log.png" style="width: 240px; height: 90px;" />
                    </td>
                </tr>
            </table>
            <table style="border-bottom: 1px solid #000; width: 100%;">
                <tr>
                    <td style="font-weight: bold; text-align: center; width: 100px;">商品清单</td>
                    <td style="font-weight: bold; text-align: center; width: 100px;">系统订单号：</td>
                    <td>@item.OrderNumber</td>
                </tr>
            </table>
        }

        <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; margin-top: 20px; border-collapse: collapse;">


            <tr>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">序号
                </td>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">SKU条形码
                </td>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">SKU
                </td>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">颜色说明
                </td>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">库位
                </td>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">件数
                </td>
                <td style="font-weight: bold; font-size: 16px; text-align: center;">实际件数
                </td>

            </tr>

            @if (Model.OrderDetailCollection.Where(c => c.OID == item.ID).Any() != null && Model.OrderDetailCollection.Where(c => c.OID == item.ID).Any())
            {
                foreach (var items in Model.OrderDetailCollection.Where(c => c.OID == item.ID).Skip(j * 30).Take(30))
                {

                    if (items.OID == item.ID)
                    {
                        RID++;
                <tr>
                    <td style="text-align: center; font-size: 15px">@RID</td>
                    <td style="text-align: center; font-family: '3 of 9 Barcode'">*@items.SKU*</td>
                    <td style="text-align: center; font-size: 15px">@items.SKU</td>
                    <td style="text-align: center; font-size: 15px">@items.Size</td>
                    <td style="text-align: center; font-size: 15px">@items.Location</td>
                    <td style="text-align: center; font-size: 15px">@items.Qty</td>
                    <td style="text-align: center; font-size: 15px"></td>

                </tr>
                    }
                }
            }

        </table>
        @* @if (j == pa - 1)
        {
            <h5 style="text-align: center; font-weight: bold">订单总数：&nbsp;&nbsp;&nbsp;&nbsp;@Model.OrderDetailCollection.Where(o => o.OID == item.ID).Sum(o => o.Qty).ToString()</h5>
        }
        <hr size="2" noshadow color="black" style="border: none; border-bottom: 2px solid #000;" />
        <p style="text-align: center; height: 10px">第&nbsp;&nbsp;@(j + 1)&nbsp;&nbsp;页,共&nbsp;&nbsp;@(pa)&nbsp;&nbsp;页</p>*@
        <table style="width: 100%;">
                <tr style="height: 20px">
                    <td colspan="6" style="text-align: center; font-size: 18px; font-weight: bold;">欲知更多优惠/新品信息，请关注微信Rookie-china</td>
                    <td rowspan="3" style="width: 120px;">
                        <img style="width: 120px; height: 120px;" src="../../../../Image/rookie-china.png" /></td>
                </tr>
                <tr style="height: 20px">
                    <td style="font-weight: bold; font-size: 16px; text-align: right; width: 50px;">拣货人：</td>
                    <td style="border-bottom: 1px solid #000; width: 150px;"></td>
                    <td></td>
                    <td style="font-weight: bold; font-size: 16px; text-align: right; width: 50px;">系统录入人：</td>
                    <td style="border-bottom: 1px solid #000; width: 150px;"></td>
                    <td></td>
                </tr>
                <tr style="height: 20px">
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">拣货日期：</td>
                    <td style="border-bottom: 1px solid #000;"></td>
                    <td></td>
                    <td style="font-weight: bold; font-size: 16px; text-align: right;">系统录入日期：</td>
                    <td style="border-bottom: 1px solid #000;"></td>
                    <td></td>
                </tr>
                <tr style="height: 20px">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>第&nbsp;&nbsp;@(j + 1)&nbsp;&nbsp;页,共&nbsp;&nbsp;@(pa)&nbsp;&nbsp;页</td>
                </tr>
            </table>
    </div>
       
            }
        }
        RID = 0;
    }
}


<object id="ojatoolsPrinter" codebase="JatoolsPrinter/jatoolsPrinter.cab#version=5,4,0,0" classid="clsid:B43D3361-D075-4BE2-87FE-057188254255" width="0" height="0">
    <embed id="ejatoolsPrinter" type="application/x-vnd.jatoolsPrinter" pluginspage="JatoolsPrinter/setup.exe" width="0" height="0" />
</object>










