@model Runbow.TWS.Web.Areas.WMS.Models.Warehouse.WarehouseOperationViewModel
<link rel="stylesheet" href="~/Assets/bootstrap-3.3.4-dist/bootstrap.min.css">
<script src="../../../../Scripts/System/Layer/layer.js"></script>
@using(Html.BeginForm()){
@Html.HiddenFor(m => m.ViewType)  @*存放视图类型*@
@Html.HiddenFor(m=>m.Warehouse.ID)

@*存放隐藏ID，用于编辑操作时获取ID*@
@Html.Hidden("Warehouse_ID",Model.Warehouse.ID.ToString())
<div>
     <fieldset>
        <legend>基础信息</legend>
        <table id="BasicInfo">
          <tr>
              <td class="TableColumnTitle" style="width: 13%;"><label>仓库名称</label></td>
                <td style="width: 27%;">
                    @if (Model.ViewType!=0)
                    {
                  
                       @Html.TextBoxFor(o=>o.Warehouse.WarehouseName, new { @class="form-control",style="width:100%"})
                       
                    }
                    else
                    {
                        @Model.Warehouse.WarehouseName
                    }
                </td>
                <td class="TableColumnTitle" style="width: 13%;"><label>仓库状态</label></td>
                <td style="width: 21%;">
                    @if (Model.ViewType!=0)
                    {
                       @Html.DropDownListFor(o=>o.Warehouse.WarehouseStatus,Model.WarehouseStatusList, new { @class="form-control",style="width:100%"})   //是否停用
                    }
                    else
                    {
                       @(Model.WarehouseStatusList.SingleOrDefault(o=>o.Value==Model.Warehouse.WarehouseStatus.ToString()).Text ?? "")
                    }
                        
                </td>
                <td class="TableColumnTitle" style="width: 13%;"><label>仓库类型</label></td>
                <td style="width: 21%;">
                    @if (Model.ViewType!=0)
                    {
                       @Html.DropDownListFor(o=>o.Warehouse.WarehouseType,Model.WarehouseTypeList,new { @class="form-control",style="width:100%"})   //下拉
                    }
                    else
                    {
                       @(Model.WarehouseTypeList.SingleOrDefault(o=>o.Value==Model.Warehouse.WarehouseType.ToString()).Text ?? "")
                        
                    }
                </td>
          </tr>

          <tr>
              <td class="TableColumnTitle" ><label>所属公司</label></td>
                <td style="width: 21%;">
                   @if (Model.ViewType!=0)
                    {
                       @Html.TextBoxFor(o=>o.Warehouse.Company, new { @class="form-control",style="width:100%"})
                    }
                   else
                   {
                       @Model.Warehouse.Company
                   }
                    
                </td>
                
                <td class="TableColumnTitle" ><label>信用额度</label></td>
                <td style="width: 21%;">
                    @if (Model.ViewType!=0)
                    {
                        @Html.TextBoxFor(o=>o.Warehouse.CreditLine, new { @class="form-control",style="width:100%"})  
                    }
                    else
                    {

                    }
                </td>

                     <td class="TableColumnTitle"><label>省份城市</label></td>
                <td style="width:21%">
                    @if (Model.ViewType!=0)
                    {
                         @Html.HiddenFor(o=>o.Warehouse.ProvinceCity)    
                         @Html.RegionSelector(new Runbow.TWS.Web.Models.RegionSelector() { IDKey = "CityTreeID", NameKey = "CityTreeName", TreeKey = "CityTreeKey" })
                         <a id="CityClear" href="#">清空</a>
                    }
                    else
                    {
                        @Model.Warehouse.ProvinceCity
                    }
                </td>

          </tr>

          <tr>
              <td class="TableColumnTitle" ><label>地址</label></td>
                <td colspan="3">
                    @if (Model.ViewType!=0)
                    {
                        @Html.TextBoxFor(o => o.Warehouse.Address, new {@class ="form-control",style="width:100%" })
                    }
                    else
                    {
                        @Model.Warehouse.Address
                    }
                </td>

                  <td class="TableColumnTitle"><label>邮政编号</label></td>
                <td style="width:21%">
                     @if (Model.ViewType!=0)
                     {
                        @Html.TextBoxFor(o=>o.Warehouse.ZipCode, new { @class="form-control",style="width:100%"})
                     }
                     else
                     {
                         @Model.Warehouse.ZipCode
                     }
                </td>

                </tr>

          <tr>
              <td class="TableColumnTitle" ><label>描述</label></td>
                <td colspan="3">
                    @if (Model.ViewType!=0)
                    {
                        @Html.TextBoxFor(o => o.Warehouse.Description, new {@class ="form-control",style="width:100%"})
                    }
                    else
                    {
                        @Model.Warehouse.Description
                    }
                </td>

                  <td class="TableColumnTitle" ><label>联系人</label></td>
                <td style="width: 21%;">
                    @if (Model.ViewType!=0)
                    {
                        @Html.TextBoxFor(o=>o.Warehouse.Contractor, new { @class="form-control",style="width:100%"})
                    }
                    else
                    {
                        @Model.Warehouse.Contractor
                    }
                </td>


                </tr>

          <tr>
              <td class="TableColumnTitle" ><label>联系人地址</label></td>
                <td colspan="3">
                    @if (Model.ViewType!=0)
                    {
                        @Html.TextBoxFor(o => o.Warehouse.ContractorAddress,new {@class ="form-control",style="width:100%" })
                    }
                    else
                    {
                        @Model.Warehouse.ContractorAddress
                    }
                </td>

                 <td class="TableColumnTitle" ><label>手机</label></td>
                <td style="width: 21%;">
                    @if (Model.ViewType!=0)
                    {
                        @Html.TextBoxFor(o=>o.Warehouse.Mobile, new { @class="form-control",style="width:100%"})
                    }
                    else
                    {
                        @Model.Warehouse.Mobile
                    }
                </td>

                </tr>

          <tr>
                <td class="TableColumnTitle"><label>电话</label></td>
                <td style="width:21%">
                     @if (Model.ViewType!=0)
                     {
                        @Html.TextBoxFor(o=>o.Warehouse.Phone, new { @class="form-control",style="width:100%"})
                     }
                     else
                     {
                         @Model.Warehouse.Phone
                     }
                </td>

                  <td class="TableColumnTitle" ><label>传真</label></td>
                <td style="width: 21%;">
                    @if (Model.ViewType!=0)
                    {
                        @Html.TextBoxFor(o=>o.Warehouse.Fax, new { @class="form-control",style="width:100%"})
                    }
                    else
                    {
                        @Model.Warehouse.Fax
                    }
                </td>

                     <td class="TableColumnTitle" ><label>电子邮件</label></td>
                <td style="width: 21%;">
                    @if (Model.ViewType!=0)
                    {
                        @Html.TextBoxFor(o=>o.Warehouse.Email, new { @class="form-control",style="width:100%"})
                    }
                    else
                    {
                        @Model.Warehouse.Email
                    }
                </td>


            </tr>
         
          <tr>

                <td class="TableColumnTitle" ><label>备注</label></td>
                <td colspan="5" >
                     @if (Model.ViewType!=0)
                    {
                        @Html.TextAreaFor(o=>o.Warehouse.Remark, new {@class ="form-control",style="width:100%" })  
                         
                    }
                    else
                     { 
                         @Model.Warehouse.Remark  
                     }
                </td>
                 </tr>
        </table>
    </fieldset>
   
    @if(Model.ViewType==0){
   
         if (Model.Warehouse.Areas != null && Model.Warehouse.Areas.Any())
            {
                foreach (var area in Model.Warehouse.Areas) 
                {
                    <fieldset id="@area.ID">
                        <legend > @area.AreaName                             
                            <label  class ="AreaCreateStatus label label-info"  data-id="@area.ID" data-name="@Model.Warehouse.ID" style="cursor:pointer;">编辑</label>
                             @*<label  data-name="@area.ID" style="cursor:pointer; color:white" class =" label label-info" onclick="AreaDelete(@area.ID,'@area.AreaName')">删除</label>*@
                        </legend>
                       
                        <table id="AreaBasicInfo_"+@area.ID>

                          <tr>
                              <td class="TableColumnTitle" style="width: 13%;"><label>库区名称</label></td>
                                <td style="width: 27%;">
                                    @if (Model.ViewType!=0)
                                    {
                                       @Html.TextBoxFor(o=>o.Area.AreaName)
                       
                                    }
                                    else
                                    {
                                        @area.AreaName
                                    }
                                </td>
                                <td class="TableColumnTitle" style="width: 13%;"><label>库区状态</label></td>
                                <td style="width: 21%;">
                                    @if (Model.ViewType!=0)
                                    {
                                       @Html.DropDownListFor(o=>o.Area.Status,Model.WarehouseStatusList)   //复用仓库状态
                                    }
                                    else
                                    {
                                       @(Model.WarehouseStatusList.SingleOrDefault(o=>o.Value==area.Status.ToString()).Text)
                                    }
                        
                                </td>
                                @*<td class="TableColumnTitle" style="width: 13%;"><label>库区类型</label></td>
                                <td style="width: 21%;">
                                    @if (Model.ViewType!=0)
                                    {
                                       @Html.DropDownListFor(o=>o.Area.Type,Model.WarehouseTypeList)   //下拉
                                    }
                                    else
                                    {
                                        
                                       @(Model.WarehouseTypeList.SingleOrDefault(o=>o.Value==area.Type.ToString()).Text)
                                    }
                                </td>*@
                          </tr>
                        
                          <tr>
                                <td class="TableColumnTitle" ><label>备注</label></td>
                                <td  >
                                     @if (Model.ViewType!=0)
                                    {
                                        @Html.TextAreaFor(o=>o.Area.Remark, new {style="width:98%" })  
                                    }
                                    else
                                     { 
                                         @area.Remark
                                     }
                                </td>
                              

                               <td class="TableColumnTitle" style="width: 13%;"><label>库区类型</label></td>
                                <td style="width: 21%;">
                                    @if (Model.ViewType!=0)
                                    {
                                       @area.Str1
                                    }
                                    else
                                    {
                                       
                                        @area.Str1
                                    }
                        
                                </td>
                                 </tr>

                          @* 库位信息*@
               @* <tbody>
                    <tr>
                        <td colspan="7" style="width:100%">
                            <table id="resultTable">
                    <thead>
                        <tr>
                            <th>操作</th>
                            <th>库位名称</th>
                            <th>库位类型</th>
                            <th>库位状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Area.Locations.Any())
                        {
                            foreach (var location in Model.Area.Locations.Where(o=>o.AreaID==area.ID))
                            {
                                string color = string.Empty;
                                string tdColor = string.Empty;
                                color = "white";
                                tdColor = "white";
           
                       
                            <tr id="@location.ID" style="background-color:@color">
                                <td style="position: relative" class="OoperationTD">
                                <div class="Adiv" style="position: absolute; display: none; width: 500px; left: 50px; height: 31px;">
                                    <label style="cursor: pointer;" class="btn btn-primary btn-xs  locationStatus" data-name="@location.ID" >编辑</label>
                                    <label style="cursor: pointer;" class="btn btn-primary btn-xs WarehouseDelete"  onclick="LocationDelete(@location.ID,'@location.Location')">删除</label>
                                </div>
                                <label style="cursor: pointer;" class="btn btn-primary btn-xs Ooperation">操作</label>
                               </td>

                                <td>
                                     <a href="/WMS/Warehouse/LocationCreate/?ViewType=0&&ID=@location.ID">@location.Location</a>  
                                </td>
                                <td>
                                    @(Model.ParaLocationTypeList.SingleOrDefault(o=>o.Value==location.LocationType.ToString()).Text)
                                </td>
                                <td>
                                    @(Model.WarehouseStatusList.SingleOrDefault(o=>o.Value==location.LocationStatus.ToString()).Text)
                                </td>
                       
                            </tr>
                            }
                        }
                    </tbody>
                </table>
                        </td>
                    </tr>
                 
                    
                </tbody>*@
                                
@*        <legend>库位列表
            @if (Model.Area.Locations != null && Model.Area.Locations.Any())
            {
                @Html.Raw("(" + Model.Area.Locations.Count() + ")");
            }
        </legend>*@
  
                           
          </table>
                        
          </fieldset>
                    
                }
            }
    }
    <div class="actionButtonDiv">
        @{
                    if (Model.ViewType == 2 || Model.ViewType ==1)
                    {
                        <input type="submit" class="btn btn-success" value="提交" id="submitButton" />
                        <input type="button" class="btn btn-success" value="返回" id="returnButton" />
                    }

                    if (Model.ViewType == 0) 
                    {
                          <input type="button"  class="btn btn-success" value="继续新增仓库" id="addWarehouse" />                     
                          <input type="button"  class="btn btn-success" value="新增库区" id="addArea" />  
                          <input type="button" class="btn btn-success" value="返回" id="returnButton" /> 
                    }
                  

        }
     </div>
    </div>
}
