@model Runbow.TWS.Web.Areas.WMS.Models.OrderManagement.PrintBoxModel
<link rel="stylesheet" href="~/Assets/bootstrap-3.3.4-dist/bootstrap.min.css">
<script src="~/Scripts/Common/jatoolsPrinter.js"></script>
<link href="~/Scripts/Common/JartoolsPrint.css" rel="stylesheet" />
<script src="../../../../Scripts/Common/jquery-barcode.js"></script>
<style>
    .only_for_print {
        display: block;
    }


    .contxt {
        font-size: 14px;
        font-weight: bold;
    }

    .thdetail {
        background-color: white;
        color: black;
        font-size: 14px;
    }

    .tddetail {
        font-size: 14px;
        border: 0px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
     if (@ViewBag.PrintFlag == "1")
    {
       doPrint('打印')
        setTimeout(function () {
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        }, 1000)
    }
    })
    function doPrint(how) {
        //打印文档对象
        var myDoc = {
            documents: document,    // 打印页面(div)们在本文档中
            // 打印时,only_for_print取值为显示
            classesReplacedWhenPrint: new Array('.only_for_print{display:block}'),
            copyrights: '杰创软件拥有版权  www.jatools.com'         // 版权声明必须
        };
        var jatoolsPrinter = getJatoolsPrinter();
        // 调用打印方法
        if (how == '打印预览...')
            jatoolsPrinter.printPreview(myDoc);   // 打印预览

        else if (how == '打印...') {
            jatoolsPrinter.print(myDoc, true);   // 打印前弹出打印设置对话框

        }

        else
            jatoolsPrinter.print(myDoc, false);       // 不弹出对话框打印


    }
    //返回（防止新增箱返回后没刷新）
    function PackageID()
    {
        var OrderID=@ViewBag.OrderID;
        if(OrderID=='0')
        {
            history.go(-1);
        }
        else
        {
            location.href = "/WMS/OrderManagement/NikePackage/?ID=" + OrderID;
        }
    }
    function BarcodeC(obj, data) {
        $(obj).empty().barcode(data, "code128", { barWidth: 1, barHeight: 35, showHRI: false });
    }
    function BarcodeC2(obj, data) {
        $(obj).empty().barcode(data, "code128", { barWidth: 1, barHeight: 45, showHRI: false });
    }
    $(function () {
        $.each($(".bcTarget"), function (a, b) {
            BarcodeC(b, $(b).html());
        });
        $.each($(".bcTarget2"), function (a, b) {
            BarcodeC2(b, $(b).html());
        });
    })
</script>

<div class="actionButtonDiv" style="padding-top: -12px; float: left;">
    <input type="button" value="预览" class="btn btn-success" onclick="doPrint('打印预览...')">
    <input type="button" value="打印" id="printbtn" class="btn btn-success" onclick="doPrint('打印')">
    @*<input type="button" value="返回" class="btn btn-success" onclick="PackageID()">*@
</div>

@if (Model.EnumerableCustomerInfo != null && Model.EnumerableCustomerInfo.Any())
{
    var index = 0;

    var packcount = Model.EnumerableCustomerInfo.Count();
    var k = 0;
    var packlistnumberheader = "";
    <table id="resultTable">
        <thead>
            <tr>
                <th>装箱单号</th>
                <th>PLNO</th>
                <th>POS代码</th>
                <th>客户</th>
                <th>客户名称</th>
                <th>地址</th>
            </tr>
        </thead>

        <tbody id="BodyTable">
            @foreach (var CustomerInfo in Model.EnumerableCustomerInfo.OrderBy(a => a.PackageNumber))
            {
                if (k == 0 || packlistnumberheader != CustomerInfo.PackageNumber)
                {
                    k++;
                    <tr id="">
                        <td>@CustomerInfo.PackageNumber.ToString()</td>
                        <td>@CustomerInfo.PLNO</td>
                        <td>@CustomerInfo.CompanyCode</td>
                        <td>@CustomerInfo.StorerKey</td>
                        <td>@CustomerInfo.Company</td>
                        <td>@CustomerInfo.AddressLine1</td>
                    </tr>
                }
                packlistnumberheader = CustomerInfo.PackageNumber;
            }
        </tbody>
    </table>
    <h2>以下为打印区：</h2>
    <br />
    //逻辑先说好
    //打印纸10*12 每一箱最少两张纸连续，（箱唛头一箱，明细根据箱内SKU行数决定多少张，超过三个就要换页）
    var packagelist = Model.EnumerableCustomerInfo.OrderBy(m => m.PackageNumber).Select(n => n.PackageNumber).Distinct().ToList();
    foreach (var item in packagelist)
    {
        var package = Model.EnumerableCustomerInfo.Where(m => m.PackageNumber == item).FirstOrDefault();
        var detailList = Model.EnumerableCustomerInfo.Where(m => m.PackageNumber == item).ToList();
        index++;
        var pages = "page" + index;
        <div id="@pages" class='only_for_print pagestyle' style="clear: both;">
            <div style="border: 1px solid #151515;font-family:微软雅黑;width:365px;height:440px;padding-left:5px;padding-right:5px;">
                <!--大字City-->
                <div style="height:88px;width:100%;">
                    <div style="float:left;width:30%">
                        <div style="height:62px;width:75px;margin-top:2px;">
                            <img style="width:75px;height:62px;" src="~/Image/nikeTHlog.jpg" />
                        </div>
                        <div style="font-size:18px;height:24px;line-height:24px;font-weight:bold">City：</div>
                    </div>
                    <div style="float:left;width:70%;font-size:55px;font-weight:bold;height:88px;line-height:88px">@package.City</div>
                </div>
                <hr style="border-bottom:1px solid #000000;margin:0 ">
                <!--PackList条码-->
                <div style="width:100%;height:60px">
                    <div style="float:left;width:65%;height:60px;">
                        @if (package.Str12 == "否")
                        {
                        <div class="bcTarget" style="margin-top:5px;height:40px">RBOW-@package.Str9</div>
                        }
                        else
                        {
                            <div class="bcTarget" style="margin-top:5px;height:40px">@package.Str9</div>
                        }
                        <div class="contxt" style="height:20px;line-height:20px;margin-top:-3px">Pack List#（Load#）：</div>
                    </div>
                    <div style="float:left;width:35%;height:60px;">
                        @if (package.Str12 == "否")
                        {
                            <div class="contxt" style="margin-top:5px">RBOW-@package.Str9</div>
                        }
                        else
                        {
                            <div class="contxt" style="margin-top:5px">@package.Str9</div>
                        }

                    </div>
                </div>
                <!--PickTicketNo BU-->
                <div style="width:100%;height:20px;">
                    <div style="float:left;width:72%;height:20px;">
                        <div class="contxt"> Pick Ticket NO：&nbsp;@package.Str11</div>
                    </div>
                    <div style="float:left;width:28%;height:20px;">
                        <div class="contxt">
                            BU：@package.BU
                        </div>
                    </div>
                </div>
                <hr style="border-bottom:1px solid #000000;margin:0 ">
                <!--ShipTo-->
                <div style="width:100%;height:20px;">
                    <div class="contxt" style="height:20px;width:70%;float:left">Ship To：@package.str4</div>
                    @if(package.Str15 =="" || package.Str15 == null)
                    {
                        <div style="width:30%;float:left" class="contxt"></div>
                    }
                    else
                    {
                        <div style="width:30%;float:left" class="contxt">CRD：@package.Str15</div>
                    }
                </div>
                <!--To-->
                <div style="width:100%;height:20px;">
                    <div class="contxt" style="height:20px;">To：</div>
                </div>
                <!--地址-->
                <div style="width:100%;">
                    @{
                        List<string> addresslist = new List<string>();
                        addresslist = package.AddressLine1.Split('&').ToList();
                    }
                    <div class="contxt" style="height:20px;">@addresslist[0]</div>
                    <div class="contxt" style="height:20px;">@addresslist[1]</div>
                    <div class="contxt" style="height:20px;">@addresslist[2]</div>
                    <div class="contxt" style="height:20px;">@addresslist[3]</div>
                </div>
                <div style="height:15px;width:100%"></div>
                <hr style="border-bottom:1px solid #000000;margin:0">
                <!--RP-->
                <div style="height:60px">
                    <div style="float:left;width:45%;height:60px;">
                        <div style="height:55px;width:140px;border:4px solid #000000;margin-left:8px;text-align:center;font-size:30px;font-weight:bold;line-height:40px;">
                            @package.Str14
                        </div>
                    </div>
                    <div style="float:left;width:55%;height:60px;">
                        <div style="height:30px;line-height:30px;font-size:16px;">Container ID：@Model.EnumerableCustomerInfo.Where(a => a.PackageNumber == package.PackageNumber).Select(cm => cm.Str19.ToString()).FirstOrDefault()</div>
                        <div style="height:30px;line-height:30px;font-size:16px;width:100%">
                            <span>@package.Str7</span>
                            <span style="font-weight:bold;margin-left:20px;">RBOW</span>
                        </div>
                    </div>
                </div>
                <!--箱号条码-->
                <div style="height:75px;width:100%;">
                    <div class="bcTarget2">@package.PackageNumber</div>
                    <div style="font-size:14px;margin-left:10px;">@package.PackageNumber</div>
                </div>
            </div>

        </div>
        <div style="width:100%;height:10px;clear:both"></div>

        var c = detailList.Count();
        var p = c / 3;//明细总页数
        if ((c % 3) > 0)
        {
            p = p + 1;
        }
        for (int i = 0; i < p; i++)
        {
            index++;
            pages = "page" + index;
            <div id="@pages" class='only_for_print pagestyle' style="clear: both;">
                <div style="border: 1px solid #151515;font-family:微软雅黑;width:365px;height:440px;padding-left:5px;padding-right:5px;">
                    <div class="contxt" style="height:24px;line-height:20px;margin-top:3px">
                        <span>Pack List#（Load#）：</span>
                        @if (package.Str12 == "否")
                        {
                            <span style="font-size:14px;">RBOW-@package.Str9</span>
                        }
                        else
                        {
                            <span style="font-size:14px;">@package.Str9</span>
                        }

                    </div>
                    <hr style="border-bottom:1px solid #000000;margin:0">
                    <!--SKU明细-->
                    <table style="border:0;background-color:white">
                        <tr>
                            <th class="thdetail">Material</th>
                            <th class="thdetail">size</th>
                            <th class="thdetail">Qty</th>
                            <th class="thdetail">VAS</th>
                        </tr>
                        <tbody>
                            @foreach (var detail in detailList.Skip(i * 3).Take(3))
                            {
                                <tr>
                                    <td class="tddetail">@detail.Atrcle</td>
                                    <td class="tddetail">@detail.Size</td>
                                    <td class="tddetail">@Convert.ToInt32(detail.Qty)</td>
                                    <td class="tddetail">@detail.str5</td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="font-weight:bold;border:0px;height:24px;">
                                        @detail.Str1
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div style="height:24px;width:100%;line-height:24px;">
                        <div class="contxt" style="text-align:right;margin-right:10px;"> Material Total：<span>@Convert.ToInt32(detailList.Select(m => m.Qty).Sum())</span></div>
                    </div>
                    <div style="height:28px;width:100%;line-height:28px;">
                        <div style="text-align:right;font-size:14px;margin-right:10px;">Label NO：<span>@item</span></div>
                    </div>
                    <hr style="border-bottom:1px solid #000000;margin:0">
                    <div style="height:24px;width:100%;line-height:24px;">
                        @if (package.Status == 9 || package.Status == 8)
                        {
                        <div style="text-align:center;font-size:16px;font-weight:bold"> TOTAL FOR CARTON：@Model.EnumerableCustomerInfo.Where(a => a.PackageNumber == package.PackageNumber).Select(cm => cm.Str20.ToString()).FirstOrDefault()</div>
                        }
                        else
                        {
                        <div style="text-align:center;font-size:16px;font-weight:bold"> TOTAL FOR CARTON：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                        }
                    </div>
                </div>
            </div>
            <div style="width:100%;height:10px;clear:both"></div>
        }
        <div style="width:100%;height:20px;clear:both"></div>
    }
}

<object id="ojatoolsPrinter" codebase="JatoolsPrinter/jatoolsPrinter.cab#version=5,4,0,0" classid="clsid:B43D3361-D075-4BE2-87FE-057188254255" width="0" height="0">
    <embed id="ejatoolsPrinter" type="application/x-vnd.jatoolsPrinter" pluginspage="JatoolsPrinter/setup.exe" width="0" height="0" />
</object>
