@model Runbow.TWS.Web.Areas.WMS.Models.OrderManagement.PrintBoxModel
<link href="~/Scripts/Common/JartoolsPrint.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Assets/bootstrap-3.3.4-dist/bootstrap.min.css">
<script src="~/Scripts/Common/jatoolsPrinter.js"></script>
@{
    ViewBag.Title = "PrintBox";
}

<h2>PrintBox</h2>
<style>
    .only_for_print
    {
        display: none;
    }

    .PageNext
    {
        page-break-after: always;
    }

    .noprint
    {
        display: none;
    }

    .bor > td
    {
        border: 2px solid #000000;
    }

    .border-table
    {
        border-collapse: collapse;
        border: none;
    }

        .border-table > td
        {
            border: solid #000 1px;
        }

    #boxlist tr td
    {
        text-align: center;
        font-size: 14px;
    }
</style>

<script type="text/javascript">
    function doPrint(how) {
        //打印文档对象
        var myDoc = {
            documents: document,    // 打印页面(div)们在本文档中
            orientationMixed: true,   // 此属性通知控件，存在有纵有横的打印页面   
            orientation: 2,           // 设置控件的默认打印方向，是纵向
            // 打印时,only_for_print取值为显示
            classesReplacedWhenPrint: new Array('.only_for_print{display:block}'),
            copyrights: '杰创软件拥有版权  www.jatools.com'         // 版权声明必须
        };
        var jatoolsPrinter = getJatoolsPrinter();
        // 调用打印方法   
        if (how == '打印预览...') {
            jatoolsPrinter.printPreview(myDoc);   // 打印预览
        }

        else if (how == '打印...')
            jatoolsPrinter.print(myDoc, true);   // 打印前弹出打印设置对话框

        else
            jatoolsPrinter.print(myDoc, false);       // 不弹出对话框打印
    }
    //返回（防止新增箱返回后没刷新）
    function PackageID()
    {
        var OrderID=@ViewBag.OrderID;
        if(OrderID=='0')
        {
            history.go(-1);
        }
        else
        {
            location.href = "/WMS/OrderManagement/NikePackage/?ID=" + OrderID;
        }
    }
</script>

<div class="actionButtonDiv" style="padding-top: 60px;">
 <input type="button" value="预览" class="btn btn-success" onclick="doPrint('打印预览...')">
    <input type="button" value="打印" class="btn btn-success" onclick="doPrint('打印')">
    @*<input type="button" value="返回" class="btn btn-success" onclick="PackageID()">*@
</div>
@if (Model.EnumerableCustomerInfo != null && Model.EnumerableCustomerInfo.Any())
{
    var k = 0;
    var packlistnumberheader = "";
    <table id="resultTable">
        <thead>
            <tr>
                <th style="background-color:#C0C0C0">装箱单号</th>
                <th style="background-color:#C0C0C0">POS代码</th>
                <th style="background-color:#C0C0C0">客户</th>
                <th style="background-color:#C0C0C0">客户名称</th>
                <th style="background-color:#C0C0C0">地址</th>
            </tr>
        </thead>
        <tbody id="BodyTable">
            @foreach (var CustomerInfo in Model.EnumerableCustomerInfo.OrderBy(a => a.PackageNumber))
            {
                if (k == 0 || packlistnumberheader != CustomerInfo.PackageNumber)
                {
                    k++;
                <tr id="">
                    <td>@CustomerInfo.PackageNumber.ToString()</td>
                     <td>@CustomerInfo.CompanyCode</td>
                    <td>@CustomerInfo.ShipmentNo</td>
                    <td>@CustomerInfo.Company</td>
                    <td>@CustomerInfo.AddressLine1</td>
                </tr>
                }
                packlistnumberheader = CustomerInfo.PackageNumber;
            }
        </tbody>
    </table>
        var i = 0;
        var packlistnumber = "";
        var packlistnumberCount = "";
        foreach (var item in Model.EnumerableCustomerInfo.OrderBy(a => a.PackageNumber))
        {
            if (packlistnumberCount != item.PackageNumber)
            {
                i++;
                packlistnumberCount = item.PackageNumber;
            }
        }
        var ss = 0;
        var counts = Model.EnumerableCustomerInfo.Count();
        //+i
        var shang = counts / 16;
        var yu = counts % 16;
        var n = 0;
        if (yu == 0)
        {
            n = shang;
        }
        else
        {
            n = shang + 1;
        }
        for (var j = 0; j < n; j++)
        {
            ss = ss + 1;
            var pages = "page" + ss;
    <div id='@pages' class='only_for_print pagestyle'>
        <h3>Packing List By Carton</h3>
        <table style="padding:10px 0px; " id="boxlist">
            <tr>
                <td style="text-align:left;border:1px solid;"><strong >Shipment No:</strong>@Model.EnumerableCustomerInfo.First().ShipmentNo</td>

            </tr>
            <tr>
                <td style="text-align:left;border:1px solid;"><strong >Ship To Name:</strong>@Model.EnumerableCustomerInfo.First().Company</td>
            </tr>
        </table>
        <table style="text-align: center; font-family: 黑体;height:550px;border:1px solid;" >
           <tr>
                <td style="height:25px;border:1px solid;">PackageKey</td>
                <td style="height:25px;border:1px solid;">Material</td>
                <td style="height:25px;border:1px solid;">Size</td>
                <td style="height:25px;border:1px solid;">Product</td>
               <td style="height:25px;border:1px solid;">Quantity</td>
               <td style="height:25px;border:1px solid;">Gender</td>
               <td style="height:25px;border:1px solid;">Category</td>
               <td style="height:25px;border:1px solid;">Description</td>
            </tr>
            @foreach (var itemdetail in Model.EnumerableCustomerInfo.OrderBy(a => a.PackageNumber).Skip(j * 16).Take(16))
            {
                //SUMQty += item.Quantity;
                if (!packlistnumber.Equals("") && !packlistnumber.Equals(@itemdetail.PackageNumber.ToString()))
                {
            @*<tr>
                <td colspan="8" style="height:25px;border:1px solid;">箱合计:@Model.EnumerableCustomerInfo.Where(c => c.PackageNumber == packlistnumber).Select(b=>b.Qty).Sum().ToString()</td>
            </tr>       
            *@
            <tr>
                <td style="height:25px;border:1px solid;">@itemdetail.PackageNumber.ToString()</td>
                <td style="height:25px;border:1px solid;">@itemdetail.Atrcle.ToString()</td>
                <td style="height:25px;border:1px solid;">@itemdetail.Size.ToString()</td>
                <td style="height:25px;border:1px solid;">@itemdetail.SKU.ToString()</td>
                <td style="height:25px;border:1px solid;">@itemdetail.Qty.ToString()</td>
                <td style="height:25px;border:1px solid;"></td>
                <td style="height:25px;border:1px solid;"></td>
                <td style="height:25px;border:1px solid;"></td>
            </tr>
                }
                else
                {
            <tr>
                <td style="height:25px;border:1px solid;">@itemdetail.PackageNumber.ToString()</td>
                <td style="height:25px;border:1px solid;">@itemdetail.Atrcle.ToString()</td>
                <td style="height:25px;border:1px solid;">@itemdetail.Size.ToString()</td>
                <td style="height:25px;border:1px solid;">@itemdetail.SKU.ToString()</td>
                <td style="height:25px;border:1px solid;">@itemdetail.Qty.ToString()</td>
                <td style="height:25px;border:1px solid;"></td>
                <td style="height:25px;border:1px solid;"></td>
                <td style="height:25px;border:1px solid;"></td>
            </tr>
                }
                packlistnumber = @itemdetail.PackageNumber.ToString();                
            }
           @*<tr>
                <td colspan="8" style="height:25px;border:1px solid;">箱合计:@Model.EnumerableCustomerInfo.Where(c => c.PackageNumber == packlistnumber).Select(b=>b.Qty).Sum().ToString()</td>
            </tr>*@
            <tr>
                <td colspan="8" style="height:25px;border:1px solid;">总数:@Model.EnumerableCustomerInfo.Select(b=>b.Qty).Sum().ToString()</td>
            </tr>
           <tr>
                <td colspan="8">
                    <table style="max-height:480px;border:1px solid;"></table>
                </td>
            </tr>
        </table>
        <table style="text-align: left; font-family: 黑体; font-weight: bold;">
            <tr>
                <td style="text-align:right; width:50%;border:1px solid;"><strong>第 @ss 页,共 @n 页</strong></td>
                <td style="padding-left:8px;border:1px solid;"><strong>@Model.EnumerableCustomerInfo.First().PackageNumber<br />@Model.EnumerableCustomerInfo.First().ShipmentNo<br />@Model.EnumerableCustomerInfo.First().Company</strong></td>
            </tr>
        </table>
    </div>
        }
}
<object id="ojatoolsPrinter" codebase="JatoolsPrinter/jatoolsPrinter.cab#version=5,4,0,0" classid="clsid:B43D3361-D075-4BE2-87FE-057188254255" width="0" height="0">
    <embed id="ejatoolsPrinter" type="application/x-vnd.jatoolsPrinter" pluginspage="JatoolsPrinter/setup.exe" width="0" height="0" />
</object>

