<link rel="stylesheet" href="~/Assets/bootstrap-3.3.4-dist/bootstrap.min.css">

@model Runbow.TWS.Web.Areas.WMS.Models.ReportManagement.InventoryViewModel
@using Runbow.TWS.Common;
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.SearchCondition.StartCreateTime)
    @Html.HiddenFor(m => m.SearchCondition.EndCreateTime)
    <fieldset>
        <legend>查询条件</legend>
        <table>
            <tr>
                @{
                    var CustomerList = (IEnumerable<SelectListItem>)ViewBag.CustomerList;
                    var WarehouseList = (IEnumerable<SelectListItem>)ViewBag.WarehouseList;
                    var AreaList = (IEnumerable<SelectListItem>)ViewBag.AreaList;
                    var ctype = (IEnumerable<Runbow.TWS.Entity.WMS.WMS_Config_Type>)ViewBag.ctype;
                }
                <td class="TableColumnTitle">
                    <label>客户/供应商</label>
                </td>
                <td style="width: 16%;">@Html.DropDownListFor(m => m.SearchCondition.CustomerID, CustomerList, "==请选择==", new { @style = "width:100%", @class = "form-control" })</td>
                <td class="TableColumnTitle">
                    <label>仓库</label>
                </td>
                <td style="width: 16%;">@Html.DropDownListFor(m => m.SearchCondition.Warehouse, WarehouseList, "==请选择==", new { @style = "width:100%", @class = "form-control" })</td>
                <td class="TableColumnTitle">
                    <label>库区</label>
                </td>
                <td style="width: 16%;">@Html.DropDownListFor(m => m.SearchCondition.Area, AreaList, "==请选择==", new { @style = "width:100%", @class = "form-control" })</td>
            </tr>
            <tr>
                <td class="TableColumnTitle">
                    <label>创建日期</label>
                </td>
                <td>@Html.CalendarRange("CreateTime", "calendarRange form-control calendarRangeReWrite", @Model.SearchCondition.StartCreateTime, @Model.SearchCondition.EndCreateTime)</td>
                <td class="TableColumnTitle">
                    <label>库存类型</label>
                </td>
                <td>@Html.DropDownListFor(m => m.SearchCondition.InventoryType, Model.InventoryTypes, "==请选择==", new { @style = "width:100%", @class = "form-control" })</td>
                <td class="TableColumnTitle">
                    <label>货品等级</label>
                </td>
                <td>@Html.DropDownListFor(m => m.SearchCondition.GoodsType, Model.GoodsTypes, "==请选择==", new { @style = "width:100%", @class = "form-control" })</td>
            </tr>
            <tr>
                <td class="TableColumnTitle">
                    <label>库位</label>
                </td>
                <td>@Html.TextAreaFor(m => m.SearchCondition.Location, new { @style = "width:100%", @class = "form-control" })</td>
                <td class="TableColumnTitle">
                    <label>产品编码</label>
                </td>
                <td>@Html.TextAreaFor(m => m.SearchCondition.SKU, new { @style = "width:100%", @class = "form-control" })</td>

                @*<td class="TableColumnTitle">
                    <label>门店代码</label>
                </td>
                <td>@Html.TextAreaFor(m => m.SearchCondition.str3, new { @style = "width:100%", @class = "form-control" })</td>*@
                @*<td class="TableColumnTitle">
            <label>Article</label>
        </td>
        <td>@Html.TextAreaFor(m => m.SearchCondition.Article, new { @style = "width:100%", @class = "form-control" })</td>*@
            </tr>
        </table>
        <div class="actionButtonDiv">
            <input type="submit" class="btn btn-success" value="查询" id="searchButton" name="Action" />
            <input type="submit" class="btn btn-success" value="导出" id="OutboundOrder" name="Action" />
            <input type="submit" class="btn btn-success" value="快速导出" id="OutboundOrder" style="display:normal;" name="Action" />
        </div>
    </fieldset>

    <fieldset>
        @{
            System.Data.DataTable project = Runbow.TWS.Web.Common.ApplicationConfigHelper.GetTable_Colums(Model.ProjectRoleID, Model.SearchCondition.CustomerID, "WMS_Inventory");
            if (project == null || project.Rows.Count == 0)
            {
                project = Runbow.TWS.Web.Common.ApplicationConfigHelper.GetTable_Colums(Model.ProjectRoleID, null, "WMS_Inventory");
                if (project == null || project.Rows.Count == 0)
                {
                    project = Runbow.TWS.Web.Common.ApplicationConfigHelper.GetTable_Colums(null, null, "WMS_Inventory");
                }
            }
        }
        <legend>
            库存列表
            @if (Model.ReportInventoryCollection != null && Model.ReportInventoryCollection.Any())
            {
                @Html.Raw("(" + Model.ReportInventoryCollection.Count() + ")");
            }
        </legend>
        <div id="tables" style="overflow-x: scroll; min-height: 150px;">
            <table id="resultTable" style="width: 130%; table-layout: fixed;">
                <thead>
                    <tr>
                        @foreach (System.Data.DataRow dr in project.Rows)
                        {
                            if (@dr["DisplayName"].ToString() == "Category")
                            {
                                <th style="width:220px;">@dr["DisplayName"]</th>
                            }
                            else if (@dr["DisplayName"].ToString() == "SKU" || @dr["DisplayName"].ToString() == "描述" || @dr["DisplayName"].ToString() == "入库单号" ||
                                @dr["DisplayName"].ToString() == "Article" || @dr["DisplayName"].ToString() == "库位")
                            {
                                <th style="width:150px;">@dr["DisplayName"]</th>
                            }
                            else
                            {
                                <th style="width:80px;">@dr["DisplayName"]</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ReportInventoryCollection != null && Model.ReportInventoryCollection.Any())
                    {
                        foreach (var item in Model.ReportInventoryCollection)
                        {
                            <tr style="line-height:12px;">
                                @foreach (System.Data.DataRow dr in project.Rows)
                                {
                                    <td>
                                        @{
                                            var o = typeof(Runbow.TWS.Entity.ReportInventory).GetProperty(dr["Columns"].ToString()).GetValue(item);
                                            if (@o == null)
                                            {
                                            }
                                            else
                                            {
                                                @o.ToString()
                                            }
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        @Html.Pager(Model.PageIndex, Model.PageCount, "")
    </fieldset>
}