<link rel="stylesheet" href="~/Assets/bootstrap-3.3.4-dist/bootstrap.min.css">
@model Runbow.TWS.Web.Areas.WMS.Models.ReceiptManagement.IndexViewModel
@using Runbow.TWS.Common;

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.SearchCondition.StartCreateTime)
    @Html.HiddenFor(m => m.SearchCondition.EndCreateTime)
    @Html.HiddenFor(m => m.SearchCondition.CompleteDate)
    @Html.HiddenFor(m => m.SearchCondition.StartCompleteDate)
    @Html.HiddenFor(m => m.SearchCondition.EndCompleteDate)
    <fieldset>
        <legend>查询条件</legend>
        <table>
            <tr>
                @{
    var CustomerList = (IEnumerable<SelectListItem>)ViewBag.CustomerList;
    var WarehouseList = (IEnumerable<SelectListItem>)ViewBag.WarehouseList;
    var ctype = (IEnumerable<Runbow.TWS.Entity.WMS.WMS_Config_Type>)ViewBag.ctype;//条件
                }
                <td class="TableColumnTitle">
                    <label>客户</label></td>
                <td>@Html.DropDownListFor(m => m.SearchCondition.CustomerID, CustomerList, "==请选择==", new { @class = "form-control", style = "width:100%" })</td>
                <td class="TableColumnTitle">
                    <label>仓库</label></td>
                <td>@Html.DropDownListFor(m => m.SearchCondition.WarehouseID, WarehouseList, "==请选择==", new { @class = "form-control", style = "width:100%" })</td>
                <td class="TableColumnTitle">
                    <label>完成日期</label></td>
                <td style="width: 25%;">@Html.CalendarRange("CompleteDate", "calendarRange  form-control calendarRangeReWrite", @Model.SearchCondition.StartCompleteDate, @Model.SearchCondition.EndCompleteDate)</td>
            </tr>
            <tr>
                <td class="TableColumnTitle">
                    <label>入库单号</label></td>
                <td style="width: 16%;">@Html.TextAreaFor(m => m.SearchCondition.ReceiptNumber, new { @class = "form-control", style = "width:100%" })</td>
                <td class="TableColumnTitle">
                    <label>外部单号</label></td>
                <td style="width: 16%;">@Html.TextAreaFor(m => m.SearchCondition.ExternReceiptNumber, new { @class = "form-control", style = "width:100%" })</td>
                <td class="TableColumnTitle">
                    <label></label>
                </td>
                <td></td>

            </tr>
            <tr></tr>
        </table>
        <div class="actionButtonDiv">
            <input type="submit" class="btn btn-success" value="查询" id="searchButton" name="Action" />
            <input type="submit" class="btn btn-success" value="导出" id="addButton" name="Action" />

        </div>
    </fieldset>
    // if (Model.ProjectRoleID == 12 && (Model.SearchCondition.CustomerID == 79 || Model.SearchCondition.CustomerID == 83))
    if (Model.ProjectRoleID == 12 && ctype != null && ctype.Any() && ctype.Where(m => m.Type == "CustomerID" && (m.Code == "YXDRB2B" || m.Code == "YXDRB2C") && m.Name == Model.SearchCondition.CustomerID.ToString()) != null)
    {
    <fieldset>
        @{
        System.Data.DataTable project = Runbow.TWS.Web.Common.ApplicationConfigHelper.GetTable_Colums(Model.ProjectRoleID, Model.SearchCondition.CustomerID, "WMS_ReceiptReportDiffer");
        System.Data.DataView dv = project.DefaultView;
        dv.Sort = "Order Asc";
        System.Data.DataTable dt2 = dv.ToTable();
        }
        <legend>入库差异列表
            @if (Model.ReceiptDetailCollection2 != null && Model.ReceiptDetailCollection2.Any())
            {
                @Html.Raw("(" + Model.ReceiptDetailCollection2.Count() + ")")
            }
        </legend>

        <table id="resultTable">
            <thead>
                <tr>
                    @foreach (System.Data.DataRow dr in dt2.Rows)
                    {
                        <th>@dr["DisplayName"]</th>
                    }

                </tr>
            </thead>
            <tbody>
                @if (Model.ReceiptDetailCollection2 != null && Model.ReceiptDetailCollection2.Any())
                {
                    foreach (var item in Model.ReceiptDetailCollection2)
                    {
                    <tr>
                        <td>@item.DID</td>
                        <td>@item.ReceiptNumber</td>
                        <td>@item.ExternReceiptNumber</td>
                        <td>@item.SKU</td>
                        <td>@item.GoodsName</td>
                        <td>@item.Article</td>
                        <td>@item.Size</td>
                        <td>@item.QtyExpected</td>
                        <td>@item.QtyReceived</td>
                        <td>@item.Qty</td>
                        <td>@item.CompleteDate</td>

                    </tr>
                    }

                }

            </tbody>
        </table>
        @Html.Pager(Model.PageIndex, Model.PageCount, "")

    </fieldset>
    }




}
