<link rel="stylesheet" href="~/Assets/bootstrap-3.3.4-dist/bootstrap.min.css">

@model Runbow.TWS.Web.Areas.WMS.Models.ReportManagement.WarehouseStorageDensityViewModel
@using Runbow.TWS.Common;
@using (Html.BeginForm())
{
     <fieldset>
        <legend>查询条件</legend>
        <table>
            <tr>
                @{
    var CustomerList = (IEnumerable<SelectListItem>)ViewBag.CustomerList;
    var WarehouseList = (IEnumerable<SelectListItem>)ViewBag.WarehouseList;
    var AreaList = (IEnumerable<SelectListItem>)ViewBag.AreaList;
                }
                <td class="TableColumnTitle">
                    <label>客户</label></td>
                <td>@Html.DropDownListFor(m => m.SearchCondition.CustomerID, CustomerList, "==请选择==", new { @style = "width:100%", @class = "form-control" })</td>
                <td class="TableColumnTitle">
                    <label>仓库</label></td>
                <td>@Html.DropDownListFor(m => m.SearchCondition.Warehouse, WarehouseList, "==请选择==", new { @style = "width:100%", @class = "form-control" })</td>
               @* <td class="TableColumnTitle">
                    <label>库区</label></td>
                <td>@Html.DropDownListFor(m => m.SearchCondition.Location, AreaList, "==请选择==", new { @style = "width:100%", @class = "form-control", disabled = "disabled" })</td>*@
            </tr>
            @*<tr>
                <td class="TableColumnTitle">
                    <label>库位</label></td>
                <td>@Html.TextAreaFor(m => m.SearchCondition.Location, new { @style = "width:100%", @class = "form-control", disabled = "disabled" })</td>
                <td class="TableColumnTitle">
                    <label>SKU</label></td>
                <td>@Html.TextAreaFor(m => m.SearchCondition.SKU, new { @style = "width:100%", @class = "form-control", disabled = "disabled" })</td>
                <td class="TableColumnTitle">
                    <label>库存类型</label></td>
                <td>@Html.DropDownListFor(m => m.SearchCondition.InventoryChangeTypes, Model.InventoryChangeTypes, "==请选择==", new { @style = "width:100%", @class = "form-control", disabled = "disabled" })</td>
            </tr>*@
        </table>
          <div class="actionButtonDiv">
            <input type="submit" class="btn btn-success" value="查询" id="searchButton" name="Action" />
            <input type="submit" class="btn btn-success" value="导出" id="OutboundOrder" name="Action" />
        </div>
     </fieldset> 
    
    <fieldset>
        <legend>明细列表
            @if (Model.ReportWarehouseStorageDensityCollection != null && Model.ReportWarehouseStorageDensityCollection.Any())
            {
                @Html.Raw("(" + Model.ReportWarehouseStorageDensityCollection.Count() + ")");
            }
        </legend>
        <table id="resultTable">
            <thead>
                <tr>
                    @*<th class="checkBoxHead">@Html.CheckBox("selectAll")</th>*@
                    <th>Date</th>
                    <th>SKU Group</th>
                    <th>No Of Units</th>
                    <th>No Of Occupied Location</th>
                    <th>Total No Of Locations In DC</th>
                    <th>Bulk Location Utilization</th>
                    <th>仓库总容量</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ReportWarehouseStorageDensityCollection != null && Model.ReportWarehouseStorageDensityCollection.Any())
                {
                    foreach (var item in Model.ReportWarehouseStorageDensityCollection)
                    { 
                    <tr>
                        @*<td>@Html.CheckBox("check" + @item.ID, new { data_ID = @item.IDS, @class = "checkForSelect" })</td>*@
                        <td>@item.Date</td>
                        <td>@item.SKUGroup</td>
                        <td>@item.NoOfUnits</td>
                        <td>@item.NoOfOccupiedLocation</td>
                        <td>@item.TotalNoOfLocationsInDC</td>
                        <td>@item.BulkLocationUtilization</td>
                        <td>@item.WarehouseTotalCapacity</td>
                    </tr>
                    }
                }
            </tbody>
        </table>
        @Html.Pager(Model.PageIndex, Model.PageCount, "")
    </fieldset>
}