<link rel="stylesheet" href="~/Assets/bootstrap-3.3.4-dist/bootstrap.min.css">
@model Runbow.TWS.Web.Areas.WMS.Models.Inventory.IndexViewModel
@using (Html.BeginForm())
{ 
    <fieldset>
        <legend>查询条件
        </legend>
        <table>
            <tr>
                @{
    var CustomerList = (IEnumerable<SelectListItem>)ViewBag.CustomerList;
    var WarehouseList = (IEnumerable<SelectListItem>)ViewBag.WarehouseList;
    var AreaList = (IEnumerable<SelectListItem>)ViewBag.AreaList;
                }
                <td class="TableColumnTitle" style="width: 10%;">
                    <label>客户/供应商</label></td>
                <td style="width: 11%;">@Html.DropDownListFor(m => m.InventorySearchCondition.CustomerID, CustomerList, "==请选择==", new { @style = "width:100%", @class = "form-control" })</td>
                <td class="TableColumnTitle" style="width: 10%;">
                    <label>仓库</label></td>
                <td style="width: 11%;">@Html.DropDownListFor(m => m.InventorySearchCondition.Warehouse, WarehouseList, "==请选择==", new { @style = "width:100%", @class = "form-control" })</td>
                <td class="TableColumnTitle" style="width: 10%;">
                    <label>库区</label></td>
                <td style="width: 11%;">@Html.DropDownListFor(m => m.InventorySearchCondition.Area, AreaList, "==请选择==", new { @style = "width:100%", @class = "form-control" })</td>
                <td class="TableColumnTitle" style="width: 10%;">
                    <label>库位</label></td>
                <td style="width: 11%;">@Html.TextBoxFor(m => m.InventorySearchCondition.Location, new { @style = "width:100%", @class = "form-control" })</td>
            </tr>
            <tr>
                <td class="TableColumnTitle">
                    <label>SKU</label></td>
                <td>@Html.TextBoxFor(m => m.InventorySearchCondition.SKU, new { @style = "width:100%", @class = "form-control" })</td>
                <td class="TableColumnTitle">
                    <label>批次号</label></td>
                <td>@Html.TextBoxFor(m => m.InventorySearchCondition.BatchNumber, new { @style = "width:100%", @class = "form-control" })</td>
            </tr>
        </table>
        <div class="actionButtonDiv">
            <input type="submit" class="btn btn-success" value="查询" id="searchButton" name="Action" />
        </div>
    </fieldset>
    <fieldset>
        <legend>库存列表
            @if (Model.InventoryCollection != null && Model.InventoryCollection.Any())
            {
                @Html.Raw("(" + Model.InventoryCollection.Count() + ")");
            }
        </legend>
        <div id="tables">
            <table id="resultTable">
                <thead>
                    <tr>
                        <th class="checkBoxHead">@Html.CheckBox("selectAll")</th>
                        <th>客户/供应商</th>
                        <th>仓库</th>
                        <th>库区&nbsp;|&nbsp;库位</th>
                        <th>产品编码</th>
                        <th>货品名称</th>
                        <th>货品等级</th>
                        <th>库存状态</th>
                        <th>入库时间</th>
                        <th>出库时间</th>
                        <th>数量</th>
                        <th>单价</th>
                        <th>总价</th>
                        <th>批次号</th>
                        <th>托号</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.InventoryCollection != null && Model.InventoryCollection.Any())
                    {
                        int rows = 1;
                        foreach (var item in Model.InventoryCollection)
                        {

                            var tdd = "operateTD" + rows;
                        <tr>
                            <td>
                                @Html.CheckBox("check" + @item.ID, new { data_ID = @item.IDS, @class = "checkForSelect" })
                            </td>
                            <td>@item.CustomerName</td>
                            <td>@item.Warehouse</td>
                            <td>@item.Area@Html.Raw("&nbsp;")|@Html.Raw("&nbsp;") @item.Location</td>
                            <td>
                                @item.SKU
                            </td>
                            <td>@item.GoodsName</td>
                            <td>@item.GoodsType</td>
                            <td>@switch (item.InventoryType)
                                {
                                    case 1:
                                @Html.Raw("可用");
                                               break;
                                    case 2:
                                @Html.Raw("操作中");
                                                break;
                                    case 3:
                                @Html.Raw("冻结");
                                               break;
                                    default:
                                @Html.Raw("已出库");
                                                break;
                                }
                            </td>
                            <td>@item.CreateTime</td>
                            <td>@item.EndCreateTime</td>
                            <td>@item.Qty</td>
                            <td>@item.Price</td>
                            <td>@item.Total</td>
                            <td>@item.BatchNumber</td>
                            <td>@item.BoxNumber</td>
                        </tr>
                                rows++;
                        }
                    }
                </tbody>
            </table>
        </div>
        @Html.Pager(Model.PageIndex, Model.PageCount, "")
    </fieldset>
}