@model Runbow.TWS.Web.Areas.System.Models.UserListViewModel
<link rel="stylesheet" href="~/Assets/bootstrap-3.3.4-dist/bootstrap.min.css">
@using (Html.BeginForm())
{
    <fieldset>
        <legend>查询条件</legend>
        <table id="conditionTable">
            <tr>
                <td class="TableColumnTitle">
                    @Html.LabelFor(m => m.Name)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", style = "width:40%" })
                </td>
                <td class="TableColumnTitle">
                    @Html.LabelFor(m => m.DisplyName)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.DisplyName, new { @class = "form-control", style = "width:40%" })
                </td>
            </tr>
            <tr>
                <td class="TableColumnTitle">
                    @Html.LabelFor(m => m.State)
                </td>
                <td>
                    @Html.DropDownListFor(m => m.State, Model.States, new {  @class = "form-control", style = "width:40%" })
                </td>
                <td class="TableColumnTitle">
                    @Html.LabelFor(m => m.UserType)
                </td>
                <td>
                    @Html.DropDownListFor(m => m.UserType, Model.UserTypes, new { @class = "form-control", style = "width:40%" })
                </td>
            </tr>
        </table>
        <div class="actionButtonDiv">
            <input type="submit" value="查询" class="btn btn-success" id="searchButton" />
            <input type="button" onclick="window.location.href = '/System/User/Create'" value="新增" class="btn btn-success" id="btnAdd" />
            <input type="button" onclick="window.location.href = '/Front/Home/wxcustomer'" value="微信注册用户审核" class="btn btn-success" id="btnWeix" />
        </div>
    </fieldset>

    <fieldset>
        <legend>用户列表</legend>
        <table id="resultTable">
            <thead>
                <tr>
                    <th>登陆名称</th>
                    <th>显示名称</th>
                    <th>状态</th>
                    <th>性别</th>
                    <th>电话</th>
                    <th>移动电话</th>
                    <th>邮箱</th>
                    <th>用户类型</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Users != null && Model.Users.Any())
                {
                    foreach (var user in Model.Users)
                    {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.DisplayName</td>
                        <td>@{
                        if (user.State)
                        {
                            @Html.Raw("可用")
                        }
                        else
                        {
                            @Html.Raw("禁用")
                        }
                        }
                        </td>
                        <td>@user.Sex</td>
                        <td>@user.Tel</td>
                        <td>@user.Mobile</td>
                        <td>@user.Email</td>
                        <td>@{
                        if (user.UserType == 0)
                        {
                            @Html.Raw("客户")
                        }
                        else if (user.UserType == 1)
                        {
                            @Html.Raw("承运商")
                        }
                        else
                        {
                            @Html.Raw("内部用户")
                        }
                        }</td>
                        <td>
                            @Html.ActionLink("编辑", "Edit", new { ID = user.ID}, new { @class = " btn btn-info btn-sm", style = "color:#fff;" })
                            @if (user.UserType == 2)
                            {
                                @Html.ActionLink("操作客户", "ProjectUserCustomerAllocate", "Project", new { ID = user.ID }, new { @class = " btn btn-info btn-sm", style = "color:#fff;" })
                            }
                            else
                            {
                                @Html.ActionLink("操作客户", "ProjectUserCustomerAllocate", "Project", new { ID = user.ID }, new { @class = " btn btn-info btn-sm", style = "color:#fff;display:none; " })
                            }

                           <a  class=" btn btn-info btn-sm" href='/WMS/Warehouse/WarehouseAllocates?UserID=@user.ID'  data-name ="@user.ID" style="color:#fff;"  >操作仓库</a>
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
        @Html.Pager(Model.PageIndex, Model.PageCount, "")
    </fieldset>
}