@{
    ViewBag.Title = "上架";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <meta name="viewport" content="initial-scale=1.0,width=device-width" />
    <script src="~/Assets/JS/jquery-1.11.3.min.js"></script>
    <script src="~/Assets/JS/Layer/layer.js"></script>
    @model Runbow.TWS.RFScan.Models.ReceiptViewModel
    <link href="~/Assets/CSS/bootstrap.min.css" rel="stylesheet" />
    <title>上架</title>
    <script type="text/javascript">
        $(document).ready(function () {
            checkRedisTask();

        });
        var AreaName = "";
        var layerindex;

        //验证当前箱是否完成
        function chechboxnumberoverclearboxnumber() {
            $.ajax({
                type: "Post",
                url: '/Receipt/CheckReceiptDetailQtyPickRedisByBoxNumber',
                data: { "ReceiptNumber": $("#ReceiptNumber").val(), "BoxNumber": $("#BoxNumber").val() },
                async: false,
                dataType: "text",
                success: function (data) {
                    if (data == "-1") {
                        alert("扫描异常");
                        return;
                    }
                    else if (data == "2") {
                        alert("入库单不存在或已完成");
                        return;
                    }
                    else if (data == "1") {
                        $("#qty").val('');
                        $("#qtyAll").val('');
                        $("#boxnumber").val('');
                    }

                    else if (data == "") {
                        resualt = false;
                    }
                    else {
                        alert(data);

                    }

                },
                error: function (msg) {
                    alert(msg);
                }

            });



        }
        function checkcomplete() {
            $.ajax({
                type: "Post",
                url: '/Receipt/CheckComplete',
                data: { "ReceiptNumber": $("#ReceiptNumber").val() },
                async: false,
                dataType: "text",
                success: function (data) {
                    if (data == "1") {
                        if (confirm('扫描已完成，是否完成上架?')) { CompletesAuto(); }
                        else { }
                    }
                    else if (data == "-1") {
                        alert("扫描异常");
                        return;
                    }
                    else if (data == "3") {
                        alert("入库单已被其他人完成")
                        return;
                    }
                    else if (data == "2") {
                        return;
                    }
                    else {
                        alert(data);

                    }

                },
                error: function (msg) {
                    alert(msg);
                }

            });

        }
        function Scan(event) {
            if (event.keyCode == 13) {
                var scanval = $("#skuagain").val();
                if (checkLocation(scanval)) {
                    $.ajax({
                        type: "Post",
                        url: '/Receipt/UpdateReceiptReceivingByLocationAgain',
                        data: { "ReceiptNumber": $("#ReceiptNumber").val(), "Area": AreaName, "Location": scanval, "BoxNumber": $("#BoxNumber").val() },
                        async: false,
                        dataType: "text",
                        success: function (data) {
                            if (data == "") {
                                alert("当前箱已完成");
                                return;
                            }
                            else if (data == "-1") {
                                alert("扫描异常");
                                return;
                            }
                            else if (data == "11") //当前箱已完成
                            {
                                layer.close(layerindex);
                                $("#qty").val('');
                                $("#qtyAll").val('');
                                $("#boxnumber").val('');
                                checkcomplete();
                            }
                            else {
                                layer.close(layerindex);
                                //chechboxnumberoverclearboxnumber();

                            }

                        },
                        error: function (msg) {
                            alert(msg);
                        }

                    });

                }
                else {
                    alert("扫描的数据有误");
                    $("#skuagain").focus();
                    document.getElementById("skuagain").select();
                }
            }
        }

        //验证数据是否是库位
        function checkLocation(location) {
            var result = false;
            $.ajax({
                type: "Post",
                url: '/Receipt/CheckLocationForAreaAgain',
                data: { "Location": location },
                async: false,
                success: function (data) {
                    if (data != "") {
                        if (data == "库区有误") {
                            alert("库区有误");
                            result = false;
                        }
                        else if (data == "-1") {
                            alert("异常");
                            result = false;
                        }
                        else {
                            AreaName = data;//保存当前库区
                            //location.href = "/WMS/ReceiptManagement/ReceiptCreate/?ID=" + ID + "&ViewType=3&Flag=1"
                            result = true;
                            //$("#Scan").val(location);
                        }
                    }
                    else {
                        result = false;
                    }

                },
                error: function (msg) {
                    result = false;
                }

            });
            return result;
        }


        function checkRedisTask() {
            $.ajax({
                type: "POST",
                url: "/Receipt/CheckRedisTask",
                data: {
                },
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.Code == "0") {
                        alert(data.data);
                    }
                    else if (data.Code == "1") {
                        if (data.data.length > 0) {
                            $("#skuagain").focus();
                            $("#ReceiptNumber").val(data.data[0].ReceiptNumber);
                            $("#BoxNumber").val(data.data[0].str2);
                            $("#boxNumberLb")[0].innerText = "箱号："+data.data[0].str2;
                            var tablediffs = $("#checkredistasktable");
                            $('#checkredistasktable tbody').html('');
                            for (var i = 0; i < data.data.length; i++) {
                                var tr = "<tr>" +
                                    "<td> " + data.data[i].SKU + "</td>" +
                                    "<td> " + data.data[i].QtyReceived + "</td>" +
                                    "</tr > ";
                                tablediffs.append(tr);
                            }
                            layerindex = layer.open({
                                title: '<h4 style="color: #ff0000;">请扫描库位将下列SKU进行上架</h4>',
                                type: 1,
                                closeBtn: 0,
                                skin: 'layui-layer-rim', //加上边框
                                area: ['320px', '400px'], //宽高
                                content: $("#showredistaskdata")
                            });

                        }
                    }
                },
                error: function (msg) {
                    showMsg("检查差异失败！", 4000);
                }
            });
        }
        //查看单差异
        function showReceiptdiffmsg(ReceiptNumber) {
            $.ajax({
                type: "POST",
                url: "/Receipt/CheckReceiptReceivingByReceiptNumber",
                data: {
                    "ReceiptNumber": ReceiptNumber
                },
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.Code == 2) {
                        showMsg("检查差异失败！", 2000);
                    }
                    else if (data.Code == 0) {
                        layer.msg("检查差异完成，无差异信息！");
                    }
                    else if (data.Code == 3) {
                        layer.msg("该单未开始扫描");
                    }
                    else {
                        if (data.data.length <= 0) {
                            layer.msg("检查差异完成，无差异信息！");
                        }
                        else {
                            var tablediffs = $("#checkreceiptdifftable");
                            $('#checkreceiptdifftable tbody').html('');

                            for (var i = 0; i < data.data.length; i++) {
                                var tr = "<tr>" +
                                    "<td> " + data.data[i].BoxNumber + "</td>" +
                                    "<td> " + data.data[i].SKU + "</td>" +
                                    "<td> " + data.data[i].QtyDiff + "</td>" +
                                    "</tr > ";
                                tablediffs.append(tr);
                            }
                            layer.open({
                                type: 1,
                                skin: 'layui-layer-rim', //加上边框
                                area: ['400px', '400px'], //宽高
                                content: $("#showreceiptdiffdata")
                            });

                        }

                    }
                },
                error: function (msg) {
                    showMsg("检查差异失败！", 4000);
                }
            });
        }
        function Completes(ReceiptNumber, obj) {
            layer.confirm('<font size="4">确认是否上架完成？</font>', {
                btn: ['确定', '放弃'], icon: 3, shift: 0, closeBtn: 1,
                title: ['提示', 'font-size:18px;']

            }, function (index) {
                layer.close(index);
                $.ajax({
                    type: "Post",
                    url: '/Receipt/UpdateReceiptStatus',
                    data: { "ReceiptNumber": ReceiptNumber },
                    async: false,
                    dataType: "text",
                    success: function (data) {
                        if (data == "1") {
                            alert("上架完成");
                            $(obj).parent().parent().remove();
                        }
                        else if (data == "2") {
                            alert("上架失败,未开始扫描");
                        }
                        else if (data == "0") {
                            alert("上架失败,数据同步失败");
                        }
                        else {
                            alert(data);

                        }

                    },
                    error: function (msg) {
                        alert(msg);
                    }

                });
            });
        };
        function CompletesAuto() {
            $.ajax({
                type: "Post",
                url: '/Receipt/UpdateReceiptStatus',
                data: { "ReceiptNumber": $("#ReceiptNumber").val() },
                async: false,
                dataType: "text",
                success: function (data) {
                    if (data == "1") {
                        layer.msg("上架完成");
          window.location.href ="/Receipt/ReceiptReceivingMain?CustomerID=@ViewBag.CustomerID&WareHouseName=@ViewBag.WareHouseName&WareHouseID=@ViewBag.WareHouseID"
    }
    else if (data == "2") {
        alert("上架失败,未开始扫描");
    }
    else if (data == "0") {
        alert("上架失败,数据同步失败");
    }
    else {
        alert(data);

    }

},
error: function (msg) {
    alert(msg);
}

});
};
    </script>
</head>
@using (Html.BeginForm())
{
    <body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" style="height: 100%">
        <div class="row" style="margin-top:10px">
            <div class="col-lg-6">
                <div class="input-group">

                    @Html.TextBoxFor(m => m.SearchCondition.ExternReceiptNumber, new { @class = "form-control", style = "height:46px", placeholder = "单号模糊查询" })

                    @*<input type="text" class="form-control" placeholder="单号模糊查询">*@
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-primary btn-lg" value="查询" id="searchButton" name="Action" />
                    </span>
                    
                </div>
            </div>
        </div>
        <table id="resultTable" class="table table-striped">
            <thead>
                <tr style="text-align:center">
                    <th style="text-align:center">外部单号</th>
                    <th style="text-align:center">订单时间</th>
                    <th style="text-align:center">操作</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ReceiptCollection != null && Model.ReceiptCollection.Any())
                {
                    foreach (var crminfo in Model.ReceiptCollection)
                    {
                        <tr style="text-align:center">
                            <td><a href="/Receipt/Index/?CustomerID=@crminfo.CustomerID&WareHouseName=@crminfo.WarehouseName&WareHouseID=@crminfo.WarehouseID&ReceiptaNumber=@crminfo.ReceiptNumber">@crminfo.ExternReceiptNumber</a></td>
                            <td>@crminfo.CreateTime</td>

                            <td>
                                <label style="cursor: pointer;" class="btn btn-primary btn-xs" onclick="showReceiptdiffmsg('@crminfo.ReceiptNumber')" data-id="@crminfo.ReceiptNumber">查看差异</label>
                                @if (ViewBag.UserName == "shrfadmin")
                                {
                                    <label style="cursor: pointer;" class="btn btn-primary btn-xs CompleteButton" onclick="Completes('@crminfo.ReceiptNumber',this)" data-id="@crminfo.ReceiptNumber">完成</label>
                                }
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
        <div id="showreceiptdiffdata" style="display:none;width:400px">
            <table id="checkreceiptdifftable" style="width:410px">
                <thead>
                    <tr>
                        <th>箱号</th>
                        <th>SKU</th>
                        <th>差异数量</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div id="showredistaskdata" style="display:none;width:320px">
            <table>
                <tr>
                    <td style="text-align:center">
                        <input style="width:300px; border: 1px solid #428BCA; border-radius: 7px; outline: none;background: none; padding: 5px 0;" id="skuagain" onkeydown="Scan(event)" autofocus type="text" />
                        <input id="ReceiptNumber" type="hidden" />
                        <input id="BoxNumber" type="hidden" />

                    </td>

                </tr>
                <tr>
                    <td><label id="boxNumberLb"></label></td>
                </tr>
            </table>

            <table id="checkredistasktable" style="width:320px">
                <thead>
                    <tr>
                        <th>SKU</th>
                        <th>数量</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </body>
}
</html>